<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.merge.mapper.ConfigTemplateCategoryMarginMapper">
  <resultMap id="BaseResultMap" type="com.panda.merge.model.ConfigTemplateCategoryMargin">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="standard_category_id" jdbcType="BIGINT" property="standardCategoryId" />
    <result column="time_frame" jdbcType="BIGINT" property="timeFrame" />
    <result column="margin" jdbcType="DOUBLE" property="margin" />
    <result column="template_category_id" jdbcType="BIGINT" property="templateCategoryId" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="modify_time" jdbcType="BIGINT" property="modifyTime" />
    <result column="canceled" jdbcType="TINYINT" property="canceled" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, standard_category_id, time_frame, margin, template_category_id, create_time, 
    modify_time, canceled
  </sql>
  <select id="selectByExample" parameterType="com.panda.merge.model.ConfigTemplateCategoryMarginExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from config_template_category_margin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from config_template_category_margin
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from config_template_category_margin
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.panda.merge.model.ConfigTemplateCategoryMarginExample">
    delete from config_template_category_margin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.panda.merge.model.ConfigTemplateCategoryMargin">
    insert into config_template_category_margin (id, standard_category_id, time_frame, 
      margin, template_category_id, create_time, 
      modify_time, canceled)
    values (#{id,jdbcType=BIGINT}, #{standardCategoryId,jdbcType=BIGINT}, #{timeFrame,jdbcType=BIGINT}, 
      #{margin,jdbcType=DOUBLE}, #{templateCategoryId,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}, 
      #{modifyTime,jdbcType=BIGINT}, #{canceled,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.panda.merge.model.ConfigTemplateCategoryMargin">
    insert into config_template_category_margin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="standardCategoryId != null">
        standard_category_id,
      </if>
      <if test="timeFrame != null">
        time_frame,
      </if>
      <if test="margin != null">
        margin,
      </if>
      <if test="templateCategoryId != null">
        template_category_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="canceled != null">
        canceled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="standardCategoryId != null">
        #{standardCategoryId,jdbcType=BIGINT},
      </if>
      <if test="timeFrame != null">
        #{timeFrame,jdbcType=BIGINT},
      </if>
      <if test="margin != null">
        #{margin,jdbcType=DOUBLE},
      </if>
      <if test="templateCategoryId != null">
        #{templateCategoryId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="canceled != null">
        #{canceled,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.panda.merge.model.ConfigTemplateCategoryMarginExample" resultType="java.lang.Long">
    select count(*) from config_template_category_margin
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update config_template_category_margin
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.standardCategoryId != null">
        standard_category_id = #{record.standardCategoryId,jdbcType=BIGINT},
      </if>
      <if test="record.timeFrame != null">
        time_frame = #{record.timeFrame,jdbcType=BIGINT},
      </if>
      <if test="record.margin != null">
        margin = #{record.margin,jdbcType=DOUBLE},
      </if>
      <if test="record.templateCategoryId != null">
        template_category_id = #{record.templateCategoryId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=BIGINT},
      </if>
      <if test="record.canceled != null">
        canceled = #{record.canceled,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update config_template_category_margin
    set id = #{record.id,jdbcType=BIGINT},
      standard_category_id = #{record.standardCategoryId,jdbcType=BIGINT},
      time_frame = #{record.timeFrame,jdbcType=BIGINT},
      margin = #{record.margin,jdbcType=DOUBLE},
      template_category_id = #{record.templateCategoryId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=BIGINT},
      modify_time = #{record.modifyTime,jdbcType=BIGINT},
      canceled = #{record.canceled,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.merge.model.ConfigTemplateCategoryMargin">
    update config_template_category_margin
    <set>
      <if test="standardCategoryId != null">
        standard_category_id = #{standardCategoryId,jdbcType=BIGINT},
      </if>
      <if test="timeFrame != null">
        time_frame = #{timeFrame,jdbcType=BIGINT},
      </if>
      <if test="margin != null">
        margin = #{margin,jdbcType=DOUBLE},
      </if>
      <if test="templateCategoryId != null">
        template_category_id = #{templateCategoryId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="canceled != null">
        canceled = #{canceled,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.merge.model.ConfigTemplateCategoryMargin">
    update config_template_category_margin
    set standard_category_id = #{standardCategoryId,jdbcType=BIGINT},
      time_frame = #{timeFrame,jdbcType=BIGINT},
      margin = #{margin,jdbcType=DOUBLE},
      template_category_id = #{templateCategoryId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      canceled = #{canceled,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>