<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.merge.mapper.ConfigMarketLevelMapper">
  <resultMap id="BaseResultMap" type="com.panda.merge.model.ConfigMarketLevel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="level" jdbcType="TINYINT" property="level" />
    <result column="sport_id" jdbcType="BIGINT" property="sportId" />
    <result column="tournament_level" jdbcType="TINYINT" property="tournamentLevel" />
    <result column="market_type" jdbcType="TINYINT" property="marketType" />
    <result column="market_type_detail" jdbcType="TINYINT" property="marketTypeDetail" />
    <result column="diff_value" jdbcType="DOUBLE" property="diffValue" />
    <result column="operater_id" jdbcType="VARCHAR" property="operaterId" />
    <result column="modify_time" jdbcType="BIGINT" property="modifyTime" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, level, sport_id, tournament_level, market_type, market_type_detail, diff_value, 
    operater_id, modify_time, create_time
  </sql>
  <select id="selectByExample" parameterType="com.panda.merge.model.ConfigMarketLevelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from config_market_level
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from config_market_level
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from config_market_level
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.panda.merge.model.ConfigMarketLevelExample">
    delete from config_market_level
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.panda.merge.model.ConfigMarketLevel">
    insert into config_market_level (id, level, sport_id, 
      tournament_level, market_type, market_type_detail, 
      diff_value, operater_id, modify_time, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{level,jdbcType=TINYINT}, #{sportId,jdbcType=BIGINT}, 
      #{tournamentLevel,jdbcType=TINYINT}, #{marketType,jdbcType=TINYINT}, #{marketTypeDetail,jdbcType=TINYINT}, 
      #{diffValue,jdbcType=DOUBLE}, #{operaterId,jdbcType=VARCHAR}, #{modifyTime,jdbcType=BIGINT}, 
      #{createTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.panda.merge.model.ConfigMarketLevel">
    insert into config_market_level
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="sportId != null">
        sport_id,
      </if>
      <if test="tournamentLevel != null">
        tournament_level,
      </if>
      <if test="marketType != null">
        market_type,
      </if>
      <if test="marketTypeDetail != null">
        market_type_detail,
      </if>
      <if test="diffValue != null">
        diff_value,
      </if>
      <if test="operaterId != null">
        operater_id,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="level != null">
        #{level,jdbcType=TINYINT},
      </if>
      <if test="sportId != null">
        #{sportId,jdbcType=BIGINT},
      </if>
      <if test="tournamentLevel != null">
        #{tournamentLevel,jdbcType=TINYINT},
      </if>
      <if test="marketType != null">
        #{marketType,jdbcType=TINYINT},
      </if>
      <if test="marketTypeDetail != null">
        #{marketTypeDetail,jdbcType=TINYINT},
      </if>
      <if test="diffValue != null">
        #{diffValue,jdbcType=DOUBLE},
      </if>
      <if test="operaterId != null">
        #{operaterId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.panda.merge.model.ConfigMarketLevelExample" resultType="java.lang.Long">
    select count(*) from config_market_level
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update config_market_level
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.level != null">
        level = #{record.level,jdbcType=TINYINT},
      </if>
      <if test="record.sportId != null">
        sport_id = #{record.sportId,jdbcType=BIGINT},
      </if>
      <if test="record.tournamentLevel != null">
        tournament_level = #{record.tournamentLevel,jdbcType=TINYINT},
      </if>
      <if test="record.marketType != null">
        market_type = #{record.marketType,jdbcType=TINYINT},
      </if>
      <if test="record.marketTypeDetail != null">
        market_type_detail = #{record.marketTypeDetail,jdbcType=TINYINT},
      </if>
      <if test="record.diffValue != null">
        diff_value = #{record.diffValue,jdbcType=DOUBLE},
      </if>
      <if test="record.operaterId != null">
        operater_id = #{record.operaterId,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update config_market_level
    set id = #{record.id,jdbcType=BIGINT},
      level = #{record.level,jdbcType=TINYINT},
      sport_id = #{record.sportId,jdbcType=BIGINT},
      tournament_level = #{record.tournamentLevel,jdbcType=TINYINT},
      market_type = #{record.marketType,jdbcType=TINYINT},
      market_type_detail = #{record.marketTypeDetail,jdbcType=TINYINT},
      diff_value = #{record.diffValue,jdbcType=DOUBLE},
      operater_id = #{record.operaterId,jdbcType=VARCHAR},
      modify_time = #{record.modifyTime,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.merge.model.ConfigMarketLevel">
    update config_market_level
    <set>
      <if test="level != null">
        level = #{level,jdbcType=TINYINT},
      </if>
      <if test="sportId != null">
        sport_id = #{sportId,jdbcType=BIGINT},
      </if>
      <if test="tournamentLevel != null">
        tournament_level = #{tournamentLevel,jdbcType=TINYINT},
      </if>
      <if test="marketType != null">
        market_type = #{marketType,jdbcType=TINYINT},
      </if>
      <if test="marketTypeDetail != null">
        market_type_detail = #{marketTypeDetail,jdbcType=TINYINT},
      </if>
      <if test="diffValue != null">
        diff_value = #{diffValue,jdbcType=DOUBLE},
      </if>
      <if test="operaterId != null">
        operater_id = #{operaterId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.merge.model.ConfigMarketLevel">
    update config_market_level
    set level = #{level,jdbcType=TINYINT},
      sport_id = #{sportId,jdbcType=BIGINT},
      tournament_level = #{tournamentLevel,jdbcType=TINYINT},
      market_type = #{marketType,jdbcType=TINYINT},
      market_type_detail = #{marketTypeDetail,jdbcType=TINYINT},
      diff_value = #{diffValue,jdbcType=DOUBLE},
      operater_id = #{operaterId,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>