<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.merge.mapper.EuropeConvertMalayMapper">
  <resultMap id="BaseResultMap" type="com.panda.merge.model.EuropeConvertMalay">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="europe_value" jdbcType="DOUBLE" property="europeValue" />
    <result column="malay_value" jdbcType="DOUBLE" property="malayValue" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, europe_value, malay_value
  </sql>
  <select id="selectByExample" parameterType="com.panda.merge.model.EuropeConvertMalayExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from europe_convert_malay
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from europe_convert_malay
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from europe_convert_malay
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.panda.merge.model.EuropeConvertMalayExample">
    delete from europe_convert_malay
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.panda.merge.model.EuropeConvertMalay">
    insert into europe_convert_malay (id, europe_value, malay_value
      )
    values (#{id,jdbcType=BIGINT}, #{europeValue,jdbcType=DOUBLE}, #{malayValue,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.panda.merge.model.EuropeConvertMalay">
    insert into europe_convert_malay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="europeValue != null">
        europe_value,
      </if>
      <if test="malayValue != null">
        malay_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="europeValue != null">
        #{europeValue,jdbcType=DOUBLE},
      </if>
      <if test="malayValue != null">
        #{malayValue,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.panda.merge.model.EuropeConvertMalayExample" resultType="java.lang.Long">
    select count(*) from europe_convert_malay
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update europe_convert_malay
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.europeValue != null">
        europe_value = #{record.europeValue,jdbcType=DOUBLE},
      </if>
      <if test="record.malayValue != null">
        malay_value = #{record.malayValue,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update europe_convert_malay
    set id = #{record.id,jdbcType=BIGINT},
      europe_value = #{record.europeValue,jdbcType=DOUBLE},
      malay_value = #{record.malayValue,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.merge.model.EuropeConvertMalay">
    update europe_convert_malay
    <set>
      <if test="europeValue != null">
        europe_value = #{europeValue,jdbcType=DOUBLE},
      </if>
      <if test="malayValue != null">
        malay_value = #{malayValue,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.merge.model.EuropeConvertMalay">
    update europe_convert_malay
    set europe_value = #{europeValue,jdbcType=DOUBLE},
      malay_value = #{malayValue,jdbcType=DOUBLE}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>