<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.merge.mapper.MarketCategoryTemplateRelationMapper">
  <resultMap id="BaseResultMap" type="com.panda.merge.model.MarketCategoryTemplateRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="market_category_id" jdbcType="INTEGER" property="marketCategoryId" />
    <result column="template_id" jdbcType="BIGINT" property="templateId" />
    <result column="dynamic_flag" jdbcType="BIT" property="dynamicFlag" />
    <result column="sport_id" jdbcType="BIT" property="sportId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, market_category_id, template_id, dynamic_flag, sport_id
  </sql>
  <select id="selectByExample" parameterType="com.panda.merge.model.MarketCategoryTemplateRelationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from market_category_template_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from market_category_template_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from market_category_template_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.panda.merge.model.MarketCategoryTemplateRelationExample">
    delete from market_category_template_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.panda.merge.model.MarketCategoryTemplateRelation">
    insert into market_category_template_relation (id, market_category_id, template_id, 
      dynamic_flag, sport_id)
    values (#{id,jdbcType=BIGINT}, #{marketCategoryId,jdbcType=INTEGER}, #{templateId,jdbcType=BIGINT}, 
      #{dynamicFlag,jdbcType=BIT}, #{sportId,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.panda.merge.model.MarketCategoryTemplateRelation">
    insert into market_category_template_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="marketCategoryId != null">
        market_category_id,
      </if>
      <if test="templateId != null">
        template_id,
      </if>
      <if test="dynamicFlag != null">
        dynamic_flag,
      </if>
      <if test="sportId != null">
        sport_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="marketCategoryId != null">
        #{marketCategoryId,jdbcType=INTEGER},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=BIGINT},
      </if>
      <if test="dynamicFlag != null">
        #{dynamicFlag,jdbcType=BIT},
      </if>
      <if test="sportId != null">
        #{sportId,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.panda.merge.model.MarketCategoryTemplateRelationExample" resultType="java.lang.Long">
    select count(*) from market_category_template_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update market_category_template_relation
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.marketCategoryId != null">
        market_category_id = #{record.marketCategoryId,jdbcType=INTEGER},
      </if>
      <if test="record.templateId != null">
        template_id = #{record.templateId,jdbcType=BIGINT},
      </if>
      <if test="record.dynamicFlag != null">
        dynamic_flag = #{record.dynamicFlag,jdbcType=BIT},
      </if>
      <if test="record.sportId != null">
        sport_id = #{record.sportId,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update market_category_template_relation
    set id = #{record.id,jdbcType=BIGINT},
      market_category_id = #{record.marketCategoryId,jdbcType=INTEGER},
      template_id = #{record.templateId,jdbcType=BIGINT},
      dynamic_flag = #{record.dynamicFlag,jdbcType=BIT},
      sport_id = #{record.sportId,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.merge.model.MarketCategoryTemplateRelation">
    update market_category_template_relation
    <set>
      <if test="marketCategoryId != null">
        market_category_id = #{marketCategoryId,jdbcType=INTEGER},
      </if>
      <if test="templateId != null">
        template_id = #{templateId,jdbcType=BIGINT},
      </if>
      <if test="dynamicFlag != null">
        dynamic_flag = #{dynamicFlag,jdbcType=BIT},
      </if>
      <if test="sportId != null">
        sport_id = #{sportId,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.merge.model.MarketCategoryTemplateRelation">
    update market_category_template_relation
    set market_category_id = #{marketCategoryId,jdbcType=INTEGER},
      template_id = #{templateId,jdbcType=BIGINT},
      dynamic_flag = #{dynamicFlag,jdbcType=BIT},
      sport_id = #{sportId,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>