<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.merge.mapper.MatchEventCommonMapper">
  <resultMap id="BaseResultMap" type="com.panda.merge.model.MatchEventCommon">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sport_id" jdbcType="BIGINT" property="sportId" />
    <result column="canceled" jdbcType="INTEGER" property="canceled" />
    <result column="data_source_code" jdbcType="VARCHAR" property="dataSourceCode" />
    <result column="event_code" jdbcType="VARCHAR" property="eventCode" />
    <result column="event_name" jdbcType="VARCHAR" property="eventName" />
    <result column="third_source_id" jdbcType="BIGINT" property="thirdSourceId" />
    <result column="event_time" jdbcType="BIGINT" property="eventTime" />
    <result column="extra_info" jdbcType="VARCHAR" property="extraInfo" />
    <result column="addition1" jdbcType="VARCHAR" property="addition1" />
    <result column="addition2" jdbcType="VARCHAR" property="addition2" />
    <result column="addition3" jdbcType="VARCHAR" property="addition3" />
    <result column="addition4" jdbcType="VARCHAR" property="addition4" />
    <result column="addition5" jdbcType="VARCHAR" property="addition5" />
    <result column="addition6" jdbcType="VARCHAR" property="addition6" />
    <result column="addition7" jdbcType="VARCHAR" property="addition7" />
    <result column="addition8" jdbcType="VARCHAR" property="addition8" />
    <result column="addition9" jdbcType="VARCHAR" property="addition9" />
    <result column="addition10" jdbcType="VARCHAR" property="addition10" />
    <result column="period_remaining_seconds" jdbcType="INTEGER" property="periodRemainingSeconds" />
    <result column="home_away" jdbcType="VARCHAR" property="homeAway" />
    <result column="second_number" jdbcType="INTEGER" property="secondNumber" />
    <result column="first_number" jdbcType="INTEGER" property="firstNumber" />
    <result column="home_first_number" jdbcType="INTEGER" property="homeFirstNumber" />
    <result column="away_first_number" jdbcType="INTEGER" property="awayFirstNumber" />
    <result column="home_second_number" jdbcType="INTEGER" property="homeSecondNumber" />
    <result column="away_second_number" jdbcType="INTEGER" property="awaySecondNumber" />
    <result column="match_period_id" jdbcType="BIGINT" property="matchPeriodId" />
    <result column="reference_id" jdbcType="BIGINT" property="referenceId" />
    <result column="player1_id" jdbcType="BIGINT" property="player1Id" />
    <result column="player1_name" jdbcType="VARCHAR" property="player1Name" />
    <result column="player2_id" jdbcType="BIGINT" property="player2Id" />
    <result column="player2_name" jdbcType="VARCHAR" property="player2Name" />
    <result column="seconds_from_start" jdbcType="INTEGER" property="secondsFromStart" />
    <result column="standard_match_id" jdbcType="BIGINT" property="standardMatchId" />
    <result column="standard_team_id" jdbcType="BIGINT" property="standardTeamId" />
    <result column="event_home_number" jdbcType="INTEGER" property="eventHomeNumber" />
    <result column="event_away_number" jdbcType="INTEGER" property="eventAwayNumber" />
    <result column="third_event_id" jdbcType="VARCHAR" property="thirdEventId" />
    <result column="third_match_id" jdbcType="BIGINT" property="thirdMatchId" />
    <result column="third_match_source_id" jdbcType="VARCHAR" property="thirdMatchSourceId" />
    <result column="third_team_id" jdbcType="BIGINT" property="thirdTeamId" />
    <result column="source_type" jdbcType="TINYINT" property="sourceType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="modify_time" jdbcType="BIGINT" property="modifyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sport_id, canceled, data_source_code, event_code, event_name, third_source_id, 
    event_time, extra_info, addition1, addition2, addition3, addition4, addition5, addition6, 
    addition7, addition8, addition9, addition10, period_remaining_seconds, home_away, 
    second_number, first_number, home_first_number, away_first_number, home_second_number, 
    away_second_number, match_period_id, reference_id, player1_id, player1_name, player2_id, 
    player2_name, seconds_from_start, standard_match_id, standard_team_id, event_home_number, 
    event_away_number, third_event_id, third_match_id, third_match_source_id, third_team_id, 
    source_type, remark, create_time, modify_time
  </sql>
  <select id="selectByExample" parameterType="com.panda.merge.model.MatchEventCommonExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from match_event_common
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from match_event_common
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from match_event_common
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.panda.merge.model.MatchEventCommonExample">
    delete from match_event_common
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.panda.merge.model.MatchEventCommon">
    insert into match_event_common (id, sport_id, canceled, 
      data_source_code, event_code, event_name, 
      third_source_id, event_time, extra_info, 
      addition1, addition2, addition3, 
      addition4, addition5, addition6, 
      addition7, addition8, addition9, 
      addition10, period_remaining_seconds, home_away, 
      second_number, first_number, home_first_number, 
      away_first_number, home_second_number, away_second_number, 
      match_period_id, reference_id, player1_id, 
      player1_name, player2_id, player2_name, 
      seconds_from_start, standard_match_id, standard_team_id, 
      event_home_number, event_away_number, third_event_id, 
      third_match_id, third_match_source_id, third_team_id, 
      source_type, remark, create_time, 
      modify_time)
    values (#{id,jdbcType=BIGINT}, #{sportId,jdbcType=BIGINT}, #{canceled,jdbcType=INTEGER}, 
      #{dataSourceCode,jdbcType=VARCHAR}, #{eventCode,jdbcType=VARCHAR}, #{eventName,jdbcType=VARCHAR}, 
      #{thirdSourceId,jdbcType=BIGINT}, #{eventTime,jdbcType=BIGINT}, #{extraInfo,jdbcType=VARCHAR}, 
      #{addition1,jdbcType=VARCHAR}, #{addition2,jdbcType=VARCHAR}, #{addition3,jdbcType=VARCHAR}, 
      #{addition4,jdbcType=VARCHAR}, #{addition5,jdbcType=VARCHAR}, #{addition6,jdbcType=VARCHAR}, 
      #{addition7,jdbcType=VARCHAR}, #{addition8,jdbcType=VARCHAR}, #{addition9,jdbcType=VARCHAR}, 
      #{addition10,jdbcType=VARCHAR}, #{periodRemainingSeconds,jdbcType=INTEGER}, #{homeAway,jdbcType=VARCHAR}, 
      #{secondNumber,jdbcType=INTEGER}, #{firstNumber,jdbcType=INTEGER}, #{homeFirstNumber,jdbcType=INTEGER}, 
      #{awayFirstNumber,jdbcType=INTEGER}, #{homeSecondNumber,jdbcType=INTEGER}, #{awaySecondNumber,jdbcType=INTEGER}, 
      #{matchPeriodId,jdbcType=BIGINT}, #{referenceId,jdbcType=BIGINT}, #{player1Id,jdbcType=BIGINT}, 
      #{player1Name,jdbcType=VARCHAR}, #{player2Id,jdbcType=BIGINT}, #{player2Name,jdbcType=VARCHAR}, 
      #{secondsFromStart,jdbcType=INTEGER}, #{standardMatchId,jdbcType=BIGINT}, #{standardTeamId,jdbcType=BIGINT}, 
      #{eventHomeNumber,jdbcType=INTEGER}, #{eventAwayNumber,jdbcType=INTEGER}, #{thirdEventId,jdbcType=VARCHAR}, 
      #{thirdMatchId,jdbcType=BIGINT}, #{thirdMatchSourceId,jdbcType=VARCHAR}, #{thirdTeamId,jdbcType=BIGINT}, 
      #{sourceType,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, 
      #{modifyTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.panda.merge.model.MatchEventCommon">
    insert into match_event_common
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sportId != null">
        sport_id,
      </if>
      <if test="canceled != null">
        canceled,
      </if>
      <if test="dataSourceCode != null">
        data_source_code,
      </if>
      <if test="eventCode != null">
        event_code,
      </if>
      <if test="eventName != null">
        event_name,
      </if>
      <if test="thirdSourceId != null">
        third_source_id,
      </if>
      <if test="eventTime != null">
        event_time,
      </if>
      <if test="extraInfo != null">
        extra_info,
      </if>
      <if test="addition1 != null">
        addition1,
      </if>
      <if test="addition2 != null">
        addition2,
      </if>
      <if test="addition3 != null">
        addition3,
      </if>
      <if test="addition4 != null">
        addition4,
      </if>
      <if test="addition5 != null">
        addition5,
      </if>
      <if test="addition6 != null">
        addition6,
      </if>
      <if test="addition7 != null">
        addition7,
      </if>
      <if test="addition8 != null">
        addition8,
      </if>
      <if test="addition9 != null">
        addition9,
      </if>
      <if test="addition10 != null">
        addition10,
      </if>
      <if test="periodRemainingSeconds != null">
        period_remaining_seconds,
      </if>
      <if test="homeAway != null">
        home_away,
      </if>
      <if test="secondNumber != null">
        second_number,
      </if>
      <if test="firstNumber != null">
        first_number,
      </if>
      <if test="homeFirstNumber != null">
        home_first_number,
      </if>
      <if test="awayFirstNumber != null">
        away_first_number,
      </if>
      <if test="homeSecondNumber != null">
        home_second_number,
      </if>
      <if test="awaySecondNumber != null">
        away_second_number,
      </if>
      <if test="matchPeriodId != null">
        match_period_id,
      </if>
      <if test="referenceId != null">
        reference_id,
      </if>
      <if test="player1Id != null">
        player1_id,
      </if>
      <if test="player1Name != null">
        player1_name,
      </if>
      <if test="player2Id != null">
        player2_id,
      </if>
      <if test="player2Name != null">
        player2_name,
      </if>
      <if test="secondsFromStart != null">
        seconds_from_start,
      </if>
      <if test="standardMatchId != null">
        standard_match_id,
      </if>
      <if test="standardTeamId != null">
        standard_team_id,
      </if>
      <if test="eventHomeNumber != null">
        event_home_number,
      </if>
      <if test="eventAwayNumber != null">
        event_away_number,
      </if>
      <if test="thirdEventId != null">
        third_event_id,
      </if>
      <if test="thirdMatchId != null">
        third_match_id,
      </if>
      <if test="thirdMatchSourceId != null">
        third_match_source_id,
      </if>
      <if test="thirdTeamId != null">
        third_team_id,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sportId != null">
        #{sportId,jdbcType=BIGINT},
      </if>
      <if test="canceled != null">
        #{canceled,jdbcType=INTEGER},
      </if>
      <if test="dataSourceCode != null">
        #{dataSourceCode,jdbcType=VARCHAR},
      </if>
      <if test="eventCode != null">
        #{eventCode,jdbcType=VARCHAR},
      </if>
      <if test="eventName != null">
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="thirdSourceId != null">
        #{thirdSourceId,jdbcType=BIGINT},
      </if>
      <if test="eventTime != null">
        #{eventTime,jdbcType=BIGINT},
      </if>
      <if test="extraInfo != null">
        #{extraInfo,jdbcType=VARCHAR},
      </if>
      <if test="addition1 != null">
        #{addition1,jdbcType=VARCHAR},
      </if>
      <if test="addition2 != null">
        #{addition2,jdbcType=VARCHAR},
      </if>
      <if test="addition3 != null">
        #{addition3,jdbcType=VARCHAR},
      </if>
      <if test="addition4 != null">
        #{addition4,jdbcType=VARCHAR},
      </if>
      <if test="addition5 != null">
        #{addition5,jdbcType=VARCHAR},
      </if>
      <if test="addition6 != null">
        #{addition6,jdbcType=VARCHAR},
      </if>
      <if test="addition7 != null">
        #{addition7,jdbcType=VARCHAR},
      </if>
      <if test="addition8 != null">
        #{addition8,jdbcType=VARCHAR},
      </if>
      <if test="addition9 != null">
        #{addition9,jdbcType=VARCHAR},
      </if>
      <if test="addition10 != null">
        #{addition10,jdbcType=VARCHAR},
      </if>
      <if test="periodRemainingSeconds != null">
        #{periodRemainingSeconds,jdbcType=INTEGER},
      </if>
      <if test="homeAway != null">
        #{homeAway,jdbcType=VARCHAR},
      </if>
      <if test="secondNumber != null">
        #{secondNumber,jdbcType=INTEGER},
      </if>
      <if test="firstNumber != null">
        #{firstNumber,jdbcType=INTEGER},
      </if>
      <if test="homeFirstNumber != null">
        #{homeFirstNumber,jdbcType=INTEGER},
      </if>
      <if test="awayFirstNumber != null">
        #{awayFirstNumber,jdbcType=INTEGER},
      </if>
      <if test="homeSecondNumber != null">
        #{homeSecondNumber,jdbcType=INTEGER},
      </if>
      <if test="awaySecondNumber != null">
        #{awaySecondNumber,jdbcType=INTEGER},
      </if>
      <if test="matchPeriodId != null">
        #{matchPeriodId,jdbcType=BIGINT},
      </if>
      <if test="referenceId != null">
        #{referenceId,jdbcType=BIGINT},
      </if>
      <if test="player1Id != null">
        #{player1Id,jdbcType=BIGINT},
      </if>
      <if test="player1Name != null">
        #{player1Name,jdbcType=VARCHAR},
      </if>
      <if test="player2Id != null">
        #{player2Id,jdbcType=BIGINT},
      </if>
      <if test="player2Name != null">
        #{player2Name,jdbcType=VARCHAR},
      </if>
      <if test="secondsFromStart != null">
        #{secondsFromStart,jdbcType=INTEGER},
      </if>
      <if test="standardMatchId != null">
        #{standardMatchId,jdbcType=BIGINT},
      </if>
      <if test="standardTeamId != null">
        #{standardTeamId,jdbcType=BIGINT},
      </if>
      <if test="eventHomeNumber != null">
        #{eventHomeNumber,jdbcType=INTEGER},
      </if>
      <if test="eventAwayNumber != null">
        #{eventAwayNumber,jdbcType=INTEGER},
      </if>
      <if test="thirdEventId != null">
        #{thirdEventId,jdbcType=VARCHAR},
      </if>
      <if test="thirdMatchId != null">
        #{thirdMatchId,jdbcType=BIGINT},
      </if>
      <if test="thirdMatchSourceId != null">
        #{thirdMatchSourceId,jdbcType=VARCHAR},
      </if>
      <if test="thirdTeamId != null">
        #{thirdTeamId,jdbcType=BIGINT},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.panda.merge.model.MatchEventCommonExample" resultType="java.lang.Long">
    select count(*) from match_event_common
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update match_event_common
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.sportId != null">
        sport_id = #{record.sportId,jdbcType=BIGINT},
      </if>
      <if test="record.canceled != null">
        canceled = #{record.canceled,jdbcType=INTEGER},
      </if>
      <if test="record.dataSourceCode != null">
        data_source_code = #{record.dataSourceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.eventCode != null">
        event_code = #{record.eventCode,jdbcType=VARCHAR},
      </if>
      <if test="record.eventName != null">
        event_name = #{record.eventName,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdSourceId != null">
        third_source_id = #{record.thirdSourceId,jdbcType=BIGINT},
      </if>
      <if test="record.eventTime != null">
        event_time = #{record.eventTime,jdbcType=BIGINT},
      </if>
      <if test="record.extraInfo != null">
        extra_info = #{record.extraInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.addition1 != null">
        addition1 = #{record.addition1,jdbcType=VARCHAR},
      </if>
      <if test="record.addition2 != null">
        addition2 = #{record.addition2,jdbcType=VARCHAR},
      </if>
      <if test="record.addition3 != null">
        addition3 = #{record.addition3,jdbcType=VARCHAR},
      </if>
      <if test="record.addition4 != null">
        addition4 = #{record.addition4,jdbcType=VARCHAR},
      </if>
      <if test="record.addition5 != null">
        addition5 = #{record.addition5,jdbcType=VARCHAR},
      </if>
      <if test="record.addition6 != null">
        addition6 = #{record.addition6,jdbcType=VARCHAR},
      </if>
      <if test="record.addition7 != null">
        addition7 = #{record.addition7,jdbcType=VARCHAR},
      </if>
      <if test="record.addition8 != null">
        addition8 = #{record.addition8,jdbcType=VARCHAR},
      </if>
      <if test="record.addition9 != null">
        addition9 = #{record.addition9,jdbcType=VARCHAR},
      </if>
      <if test="record.addition10 != null">
        addition10 = #{record.addition10,jdbcType=VARCHAR},
      </if>
      <if test="record.periodRemainingSeconds != null">
        period_remaining_seconds = #{record.periodRemainingSeconds,jdbcType=INTEGER},
      </if>
      <if test="record.homeAway != null">
        home_away = #{record.homeAway,jdbcType=VARCHAR},
      </if>
      <if test="record.secondNumber != null">
        second_number = #{record.secondNumber,jdbcType=INTEGER},
      </if>
      <if test="record.firstNumber != null">
        first_number = #{record.firstNumber,jdbcType=INTEGER},
      </if>
      <if test="record.homeFirstNumber != null">
        home_first_number = #{record.homeFirstNumber,jdbcType=INTEGER},
      </if>
      <if test="record.awayFirstNumber != null">
        away_first_number = #{record.awayFirstNumber,jdbcType=INTEGER},
      </if>
      <if test="record.homeSecondNumber != null">
        home_second_number = #{record.homeSecondNumber,jdbcType=INTEGER},
      </if>
      <if test="record.awaySecondNumber != null">
        away_second_number = #{record.awaySecondNumber,jdbcType=INTEGER},
      </if>
      <if test="record.matchPeriodId != null">
        match_period_id = #{record.matchPeriodId,jdbcType=BIGINT},
      </if>
      <if test="record.referenceId != null">
        reference_id = #{record.referenceId,jdbcType=BIGINT},
      </if>
      <if test="record.player1Id != null">
        player1_id = #{record.player1Id,jdbcType=BIGINT},
      </if>
      <if test="record.player1Name != null">
        player1_name = #{record.player1Name,jdbcType=VARCHAR},
      </if>
      <if test="record.player2Id != null">
        player2_id = #{record.player2Id,jdbcType=BIGINT},
      </if>
      <if test="record.player2Name != null">
        player2_name = #{record.player2Name,jdbcType=VARCHAR},
      </if>
      <if test="record.secondsFromStart != null">
        seconds_from_start = #{record.secondsFromStart,jdbcType=INTEGER},
      </if>
      <if test="record.standardMatchId != null">
        standard_match_id = #{record.standardMatchId,jdbcType=BIGINT},
      </if>
      <if test="record.standardTeamId != null">
        standard_team_id = #{record.standardTeamId,jdbcType=BIGINT},
      </if>
      <if test="record.eventHomeNumber != null">
        event_home_number = #{record.eventHomeNumber,jdbcType=INTEGER},
      </if>
      <if test="record.eventAwayNumber != null">
        event_away_number = #{record.eventAwayNumber,jdbcType=INTEGER},
      </if>
      <if test="record.thirdEventId != null">
        third_event_id = #{record.thirdEventId,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdMatchId != null">
        third_match_id = #{record.thirdMatchId,jdbcType=BIGINT},
      </if>
      <if test="record.thirdMatchSourceId != null">
        third_match_source_id = #{record.thirdMatchSourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdTeamId != null">
        third_team_id = #{record.thirdTeamId,jdbcType=BIGINT},
      </if>
      <if test="record.sourceType != null">
        source_type = #{record.sourceType,jdbcType=TINYINT},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update match_event_common
    set id = #{record.id,jdbcType=BIGINT},
      sport_id = #{record.sportId,jdbcType=BIGINT},
      canceled = #{record.canceled,jdbcType=INTEGER},
      data_source_code = #{record.dataSourceCode,jdbcType=VARCHAR},
      event_code = #{record.eventCode,jdbcType=VARCHAR},
      event_name = #{record.eventName,jdbcType=VARCHAR},
      third_source_id = #{record.thirdSourceId,jdbcType=BIGINT},
      event_time = #{record.eventTime,jdbcType=BIGINT},
      extra_info = #{record.extraInfo,jdbcType=VARCHAR},
      addition1 = #{record.addition1,jdbcType=VARCHAR},
      addition2 = #{record.addition2,jdbcType=VARCHAR},
      addition3 = #{record.addition3,jdbcType=VARCHAR},
      addition4 = #{record.addition4,jdbcType=VARCHAR},
      addition5 = #{record.addition5,jdbcType=VARCHAR},
      addition6 = #{record.addition6,jdbcType=VARCHAR},
      addition7 = #{record.addition7,jdbcType=VARCHAR},
      addition8 = #{record.addition8,jdbcType=VARCHAR},
      addition9 = #{record.addition9,jdbcType=VARCHAR},
      addition10 = #{record.addition10,jdbcType=VARCHAR},
      period_remaining_seconds = #{record.periodRemainingSeconds,jdbcType=INTEGER},
      home_away = #{record.homeAway,jdbcType=VARCHAR},
      second_number = #{record.secondNumber,jdbcType=INTEGER},
      first_number = #{record.firstNumber,jdbcType=INTEGER},
      home_first_number = #{record.homeFirstNumber,jdbcType=INTEGER},
      away_first_number = #{record.awayFirstNumber,jdbcType=INTEGER},
      home_second_number = #{record.homeSecondNumber,jdbcType=INTEGER},
      away_second_number = #{record.awaySecondNumber,jdbcType=INTEGER},
      match_period_id = #{record.matchPeriodId,jdbcType=BIGINT},
      reference_id = #{record.referenceId,jdbcType=BIGINT},
      player1_id = #{record.player1Id,jdbcType=BIGINT},
      player1_name = #{record.player1Name,jdbcType=VARCHAR},
      player2_id = #{record.player2Id,jdbcType=BIGINT},
      player2_name = #{record.player2Name,jdbcType=VARCHAR},
      seconds_from_start = #{record.secondsFromStart,jdbcType=INTEGER},
      standard_match_id = #{record.standardMatchId,jdbcType=BIGINT},
      standard_team_id = #{record.standardTeamId,jdbcType=BIGINT},
      event_home_number = #{record.eventHomeNumber,jdbcType=INTEGER},
      event_away_number = #{record.eventAwayNumber,jdbcType=INTEGER},
      third_event_id = #{record.thirdEventId,jdbcType=VARCHAR},
      third_match_id = #{record.thirdMatchId,jdbcType=BIGINT},
      third_match_source_id = #{record.thirdMatchSourceId,jdbcType=VARCHAR},
      third_team_id = #{record.thirdTeamId,jdbcType=BIGINT},
      source_type = #{record.sourceType,jdbcType=TINYINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      modify_time = #{record.modifyTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.merge.model.MatchEventCommon">
    update match_event_common
    <set>
      <if test="sportId != null">
        sport_id = #{sportId,jdbcType=BIGINT},
      </if>
      <if test="canceled != null">
        canceled = #{canceled,jdbcType=INTEGER},
      </if>
      <if test="dataSourceCode != null">
        data_source_code = #{dataSourceCode,jdbcType=VARCHAR},
      </if>
      <if test="eventCode != null">
        event_code = #{eventCode,jdbcType=VARCHAR},
      </if>
      <if test="eventName != null">
        event_name = #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="thirdSourceId != null">
        third_source_id = #{thirdSourceId,jdbcType=BIGINT},
      </if>
      <if test="eventTime != null">
        event_time = #{eventTime,jdbcType=BIGINT},
      </if>
      <if test="extraInfo != null">
        extra_info = #{extraInfo,jdbcType=VARCHAR},
      </if>
      <if test="addition1 != null">
        addition1 = #{addition1,jdbcType=VARCHAR},
      </if>
      <if test="addition2 != null">
        addition2 = #{addition2,jdbcType=VARCHAR},
      </if>
      <if test="addition3 != null">
        addition3 = #{addition3,jdbcType=VARCHAR},
      </if>
      <if test="addition4 != null">
        addition4 = #{addition4,jdbcType=VARCHAR},
      </if>
      <if test="addition5 != null">
        addition5 = #{addition5,jdbcType=VARCHAR},
      </if>
      <if test="addition6 != null">
        addition6 = #{addition6,jdbcType=VARCHAR},
      </if>
      <if test="addition7 != null">
        addition7 = #{addition7,jdbcType=VARCHAR},
      </if>
      <if test="addition8 != null">
        addition8 = #{addition8,jdbcType=VARCHAR},
      </if>
      <if test="addition9 != null">
        addition9 = #{addition9,jdbcType=VARCHAR},
      </if>
      <if test="addition10 != null">
        addition10 = #{addition10,jdbcType=VARCHAR},
      </if>
      <if test="periodRemainingSeconds != null">
        period_remaining_seconds = #{periodRemainingSeconds,jdbcType=INTEGER},
      </if>
      <if test="homeAway != null">
        home_away = #{homeAway,jdbcType=VARCHAR},
      </if>
      <if test="secondNumber != null">
        second_number = #{secondNumber,jdbcType=INTEGER},
      </if>
      <if test="firstNumber != null">
        first_number = #{firstNumber,jdbcType=INTEGER},
      </if>
      <if test="homeFirstNumber != null">
        home_first_number = #{homeFirstNumber,jdbcType=INTEGER},
      </if>
      <if test="awayFirstNumber != null">
        away_first_number = #{awayFirstNumber,jdbcType=INTEGER},
      </if>
      <if test="homeSecondNumber != null">
        home_second_number = #{homeSecondNumber,jdbcType=INTEGER},
      </if>
      <if test="awaySecondNumber != null">
        away_second_number = #{awaySecondNumber,jdbcType=INTEGER},
      </if>
      <if test="matchPeriodId != null">
        match_period_id = #{matchPeriodId,jdbcType=BIGINT},
      </if>
      <if test="referenceId != null">
        reference_id = #{referenceId,jdbcType=BIGINT},
      </if>
      <if test="player1Id != null">
        player1_id = #{player1Id,jdbcType=BIGINT},
      </if>
      <if test="player1Name != null">
        player1_name = #{player1Name,jdbcType=VARCHAR},
      </if>
      <if test="player2Id != null">
        player2_id = #{player2Id,jdbcType=BIGINT},
      </if>
      <if test="player2Name != null">
        player2_name = #{player2Name,jdbcType=VARCHAR},
      </if>
      <if test="secondsFromStart != null">
        seconds_from_start = #{secondsFromStart,jdbcType=INTEGER},
      </if>
      <if test="standardMatchId != null">
        standard_match_id = #{standardMatchId,jdbcType=BIGINT},
      </if>
      <if test="standardTeamId != null">
        standard_team_id = #{standardTeamId,jdbcType=BIGINT},
      </if>
      <if test="eventHomeNumber != null">
        event_home_number = #{eventHomeNumber,jdbcType=INTEGER},
      </if>
      <if test="eventAwayNumber != null">
        event_away_number = #{eventAwayNumber,jdbcType=INTEGER},
      </if>
      <if test="thirdEventId != null">
        third_event_id = #{thirdEventId,jdbcType=VARCHAR},
      </if>
      <if test="thirdMatchId != null">
        third_match_id = #{thirdMatchId,jdbcType=BIGINT},
      </if>
      <if test="thirdMatchSourceId != null">
        third_match_source_id = #{thirdMatchSourceId,jdbcType=VARCHAR},
      </if>
      <if test="thirdTeamId != null">
        third_team_id = #{thirdTeamId,jdbcType=BIGINT},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.merge.model.MatchEventCommon">
    update match_event_common
    set sport_id = #{sportId,jdbcType=BIGINT},
      canceled = #{canceled,jdbcType=INTEGER},
      data_source_code = #{dataSourceCode,jdbcType=VARCHAR},
      event_code = #{eventCode,jdbcType=VARCHAR},
      event_name = #{eventName,jdbcType=VARCHAR},
      third_source_id = #{thirdSourceId,jdbcType=BIGINT},
      event_time = #{eventTime,jdbcType=BIGINT},
      extra_info = #{extraInfo,jdbcType=VARCHAR},
      addition1 = #{addition1,jdbcType=VARCHAR},
      addition2 = #{addition2,jdbcType=VARCHAR},
      addition3 = #{addition3,jdbcType=VARCHAR},
      addition4 = #{addition4,jdbcType=VARCHAR},
      addition5 = #{addition5,jdbcType=VARCHAR},
      addition6 = #{addition6,jdbcType=VARCHAR},
      addition7 = #{addition7,jdbcType=VARCHAR},
      addition8 = #{addition8,jdbcType=VARCHAR},
      addition9 = #{addition9,jdbcType=VARCHAR},
      addition10 = #{addition10,jdbcType=VARCHAR},
      period_remaining_seconds = #{periodRemainingSeconds,jdbcType=INTEGER},
      home_away = #{homeAway,jdbcType=VARCHAR},
      second_number = #{secondNumber,jdbcType=INTEGER},
      first_number = #{firstNumber,jdbcType=INTEGER},
      home_first_number = #{homeFirstNumber,jdbcType=INTEGER},
      away_first_number = #{awayFirstNumber,jdbcType=INTEGER},
      home_second_number = #{homeSecondNumber,jdbcType=INTEGER},
      away_second_number = #{awaySecondNumber,jdbcType=INTEGER},
      match_period_id = #{matchPeriodId,jdbcType=BIGINT},
      reference_id = #{referenceId,jdbcType=BIGINT},
      player1_id = #{player1Id,jdbcType=BIGINT},
      player1_name = #{player1Name,jdbcType=VARCHAR},
      player2_id = #{player2Id,jdbcType=BIGINT},
      player2_name = #{player2Name,jdbcType=VARCHAR},
      seconds_from_start = #{secondsFromStart,jdbcType=INTEGER},
      standard_match_id = #{standardMatchId,jdbcType=BIGINT},
      standard_team_id = #{standardTeamId,jdbcType=BIGINT},
      event_home_number = #{eventHomeNumber,jdbcType=INTEGER},
      event_away_number = #{eventAwayNumber,jdbcType=INTEGER},
      third_event_id = #{thirdEventId,jdbcType=VARCHAR},
      third_match_id = #{thirdMatchId,jdbcType=BIGINT},
      third_match_source_id = #{thirdMatchSourceId,jdbcType=VARCHAR},
      third_team_id = #{thirdTeamId,jdbcType=BIGINT},
      source_type = #{sourceType,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>