<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.merge.mapper.MatchSettleGoalStatusMapper">
  <resultMap id="BaseResultMap" type="com.panda.merge.model.MatchSettleGoalStatus">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sport_id" jdbcType="BIGINT" property="sportId" />
    <result column="third_match_id" jdbcType="BIGINT" property="thirdMatchId" />
    <result column="data_source_code" jdbcType="VARCHAR" property="dataSourceCode" />
    <result column="standard_match_id" jdbcType="BIGINT" property="standardMatchId" />
    <result column="goal_status" jdbcType="INTEGER" property="goalStatus" />
    <result column="corner_status" jdbcType="INTEGER" property="cornerStatus" />
    <result column="modify_time" jdbcType="BIGINT" property="modifyTime" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sport_id, third_match_id, data_source_code, standard_match_id, goal_status, corner_status,
    modify_time, create_time
  </sql>
  <select id="selectByExample" parameterType="com.panda.merge.model.MatchSettleGoalStatusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from match_settle_goal_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from match_settle_goal_status
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from match_settle_goal_status
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.panda.merge.model.MatchSettleGoalStatusExample">
    delete from match_settle_goal_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.panda.merge.model.MatchSettleGoalStatus">
    insert into match_settle_goal_status (id, sport_id, third_match_id, 
      data_source_code, standard_match_id, goal_status, 
      corner_status, modify_time, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{sportId,jdbcType=BIGINT}, #{thirdMatchId,jdbcType=BIGINT}, 
      #{dataSourceCode,jdbcType=VARCHAR}, #{standardMatchId,jdbcType=BIGINT}, #{goalStatus,jdbcType=INTEGER}, 
      #{cornerStatus,jdbcType=INTEGER}, #{modifyTime,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.panda.merge.model.MatchSettleGoalStatus">
    insert into match_settle_goal_status
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sportId != null">
        sport_id,
      </if>
      <if test="thirdMatchId != null">
        third_match_id,
      </if>
      <if test="dataSourceCode != null">
        data_source_code,
      </if>
      <if test="standardMatchId != null">
        standard_match_id,
      </if>
      <if test="goalStatus != null">
        goal_status,
      </if>
      <if test="cornerStatus != null">
        corner_status,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sportId != null">
        #{sportId,jdbcType=BIGINT},
      </if>
      <if test="thirdMatchId != null">
        #{thirdMatchId,jdbcType=BIGINT},
      </if>
      <if test="dataSourceCode != null">
        #{dataSourceCode,jdbcType=VARCHAR},
      </if>
      <if test="standardMatchId != null">
        #{standardMatchId,jdbcType=BIGINT},
      </if>
      <if test="goalStatus != null">
        #{goalStatus,jdbcType=INTEGER},
      </if>
      <if test="cornerStatus != null">
        #{cornerStatus,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.panda.merge.model.MatchSettleGoalStatusExample" resultType="java.lang.Long">
    select count(*) from match_settle_goal_status
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update match_settle_goal_status
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.sportId != null">
        sport_id = #{record.sportId,jdbcType=BIGINT},
      </if>
      <if test="record.thirdMatchId != null">
        third_match_id = #{record.thirdMatchId,jdbcType=BIGINT},
      </if>
      <if test="record.dataSourceCode != null">
        data_source_code = #{record.dataSourceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.standardMatchId != null">
        standard_match_id = #{record.standardMatchId,jdbcType=BIGINT},
      </if>
      <if test="record.goalStatus != null">
        goal_status = #{record.goalStatus,jdbcType=INTEGER},
      </if>
      <if test="record.cornerStatus != null">
        corner_status = #{record.cornerStatus,jdbcType=INTEGER},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update match_settle_goal_status
    set id = #{record.id,jdbcType=BIGINT},
      sport_id = #{record.sportId,jdbcType=BIGINT},
      third_match_id = #{record.thirdMatchId,jdbcType=BIGINT},
      data_source_code = #{record.dataSourceCode,jdbcType=VARCHAR},
      standard_match_id = #{record.standardMatchId,jdbcType=BIGINT},
      goal_status = #{record.goalStatus,jdbcType=INTEGER},
      corner_status = #{record.cornerStatus,jdbcType=INTEGER},
      modify_time = #{record.modifyTime,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.merge.model.MatchSettleGoalStatus">
    update match_settle_goal_status
    <set>
      <if test="sportId != null">
        sport_id = #{sportId,jdbcType=BIGINT},
      </if>
      <if test="thirdMatchId != null">
        third_match_id = #{thirdMatchId,jdbcType=BIGINT},
      </if>
      <if test="dataSourceCode != null">
        data_source_code = #{dataSourceCode,jdbcType=VARCHAR},
      </if>
      <if test="standardMatchId != null">
        standard_match_id = #{standardMatchId,jdbcType=BIGINT},
      </if>
      <if test="goalStatus != null">
        goal_status = #{goalStatus,jdbcType=INTEGER},
      </if>
      <if test="cornerStatus != null">
        corner_status = #{cornerStatus,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.merge.model.MatchSettleGoalStatus">
    update match_settle_goal_status
    set sport_id = #{sportId,jdbcType=BIGINT},
      third_match_id = #{thirdMatchId,jdbcType=BIGINT},
      data_source_code = #{dataSourceCode,jdbcType=VARCHAR},
      standard_match_id = #{standardMatchId,jdbcType=BIGINT},
      goal_status = #{goalStatus,jdbcType=INTEGER},
      corner_status = #{cornerStatus,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>