<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.merge.mapper.MatchSettleThirdEventMapper">
  <resultMap id="BaseResultMap" type="com.panda.merge.model.MatchSettleThirdEvent">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="standard_match_id" jdbcType="BIGINT" property="standardMatchId" />
    <result column="third_match_id" jdbcType="BIGINT" property="thirdMatchId" />
    <result column="period_id" jdbcType="BIGINT" property="periodId" />
    <result column="third_event_source_id" jdbcType="BIGINT" property="thirdEventSourceId" />
    <result column="event_type" jdbcType="INTEGER" property="eventType" />
    <result column="event_code" jdbcType="VARCHAR" property="eventCode" />
    <result column="t1" jdbcType="INTEGER" property="t1" />
    <result column="t2" jdbcType="INTEGER" property="t2" />
    <result column="settle_num" jdbcType="VARCHAR" property="settleNum" />
    <result column="event_order" jdbcType="INTEGER" property="eventOrder" />
    <result column="event_name" jdbcType="VARCHAR" property="eventName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="home_away" jdbcType="VARCHAR" property="homeAway" />
    <result column="player_name" jdbcType="VARCHAR" property="playerName" />
    <result column="player_name_code" jdbcType="VARCHAR" property="playerNameCode" />
    <result column="data_source_code" jdbcType="VARCHAR" property="dataSourceCode" />
    <result column="sport_id" jdbcType="BIGINT" property="sportId" />
    <result column="extry_info" jdbcType="VARCHAR" property="extryInfo" />
    <result column="first_num" jdbcType="INTEGER" property="firstNum" />
    <result column="second_num" jdbcType="INTEGER" property="secondNum" />
    <result column="first_t1" jdbcType="INTEGER" property="firstT1" />
    <result column="first_t2" jdbcType="INTEGER" property="firstT2" />
    <result column="second_t1" jdbcType="INTEGER" property="secondT1" />
    <result column="second_t2" jdbcType="INTEGER" property="secondT2" />
    <result column="operate_type" jdbcType="INTEGER" property="operateType" />
    <result column="operater" jdbcType="VARCHAR" property="operater" />
    <result column="userId" jdbcType="VARCHAR" property="userid" />
    <result column="settle_times" jdbcType="INTEGER" property="settleTimes" />
    <result column="settle_count" jdbcType="INTEGER" property="settleCount" />
    <result column="settle_reason" jdbcType="INTEGER" property="settleReason" />
    <result column="settle_reason_detail" jdbcType="VARCHAR" property="settleReasonDetail" />
    <result column="is_grey" jdbcType="INTEGER" property="isGrey" />
    <result column="settle_freeze" jdbcType="INTEGER" property="settleFreeze" />
    <result column="modify_time" jdbcType="BIGINT" property="modifyTime" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, standard_match_id, third_match_id, period_id, third_event_source_id, event_type, 
    event_code, t1, t2, settle_num, event_order, event_name, status, home_away, player_name, 
    player_name_code, data_source_code, sport_id, extry_info, first_num, second_num, 
    first_t1, first_t2, second_t1, second_t2, operate_type, operater, userId, settle_times, 
    settle_count, settle_reason, settle_reason_detail, is_grey, settle_freeze, modify_time, 
    create_time
  </sql>
  <select id="selectByExample" parameterType="com.panda.merge.model.MatchSettleThirdEventExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from match_settle_third_event
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from match_settle_third_event
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from match_settle_third_event
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.panda.merge.model.MatchSettleThirdEventExample">
    delete from match_settle_third_event
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.panda.merge.model.MatchSettleThirdEvent">
    insert into match_settle_third_event (id, standard_match_id, third_match_id, 
      period_id, third_event_source_id, event_type, 
      event_code, t1, t2, 
      settle_num, event_order, event_name, 
      status, home_away, player_name, 
      player_name_code, data_source_code, sport_id, 
      extry_info, first_num, second_num, 
      first_t1, first_t2, second_t1, 
      second_t2, operate_type, operater, 
      userId, settle_times, settle_count, 
      settle_reason, settle_reason_detail, is_grey, 
      settle_freeze, modify_time, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{standardMatchId,jdbcType=BIGINT}, #{thirdMatchId,jdbcType=BIGINT}, 
      #{periodId,jdbcType=BIGINT}, #{thirdEventSourceId,jdbcType=BIGINT}, #{eventType,jdbcType=INTEGER}, 
      #{eventCode,jdbcType=VARCHAR}, #{t1,jdbcType=INTEGER}, #{t2,jdbcType=INTEGER}, 
      #{settleNum,jdbcType=VARCHAR}, #{eventOrder,jdbcType=INTEGER}, #{eventName,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{homeAway,jdbcType=VARCHAR}, #{playerName,jdbcType=VARCHAR}, 
      #{playerNameCode,jdbcType=VARCHAR}, #{dataSourceCode,jdbcType=VARCHAR}, #{sportId,jdbcType=BIGINT}, 
      #{extryInfo,jdbcType=VARCHAR}, #{firstNum,jdbcType=INTEGER}, #{secondNum,jdbcType=INTEGER}, 
      #{firstT1,jdbcType=INTEGER}, #{firstT2,jdbcType=INTEGER}, #{secondT1,jdbcType=INTEGER}, 
      #{secondT2,jdbcType=INTEGER}, #{operateType,jdbcType=INTEGER}, #{operater,jdbcType=VARCHAR}, 
      #{userid,jdbcType=VARCHAR}, #{settleTimes,jdbcType=INTEGER}, #{settleCount,jdbcType=INTEGER}, 
      #{settleReason,jdbcType=INTEGER}, #{settleReasonDetail,jdbcType=VARCHAR}, #{isGrey,jdbcType=INTEGER}, 
      #{settleFreeze,jdbcType=INTEGER}, #{modifyTime,jdbcType=BIGINT}, #{createTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.panda.merge.model.MatchSettleThirdEvent">
    insert into match_settle_third_event
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="standardMatchId != null">
        standard_match_id,
      </if>
      <if test="thirdMatchId != null">
        third_match_id,
      </if>
      <if test="periodId != null">
        period_id,
      </if>
      <if test="thirdEventSourceId != null">
        third_event_source_id,
      </if>
      <if test="eventType != null">
        event_type,
      </if>
      <if test="eventCode != null">
        event_code,
      </if>
      <if test="t1 != null">
        t1,
      </if>
      <if test="t2 != null">
        t2,
      </if>
      <if test="settleNum != null">
        settle_num,
      </if>
      <if test="eventOrder != null">
        event_order,
      </if>
      <if test="eventName != null">
        event_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="homeAway != null">
        home_away,
      </if>
      <if test="playerName != null">
        player_name,
      </if>
      <if test="playerNameCode != null">
        player_name_code,
      </if>
      <if test="dataSourceCode != null">
        data_source_code,
      </if>
      <if test="sportId != null">
        sport_id,
      </if>
      <if test="extryInfo != null">
        extry_info,
      </if>
      <if test="firstNum != null">
        first_num,
      </if>
      <if test="secondNum != null">
        second_num,
      </if>
      <if test="firstT1 != null">
        first_t1,
      </if>
      <if test="firstT2 != null">
        first_t2,
      </if>
      <if test="secondT1 != null">
        second_t1,
      </if>
      <if test="secondT2 != null">
        second_t2,
      </if>
      <if test="operateType != null">
        operate_type,
      </if>
      <if test="operater != null">
        operater,
      </if>
      <if test="userid != null">
        userId,
      </if>
      <if test="settleTimes != null">
        settle_times,
      </if>
      <if test="settleCount != null">
        settle_count,
      </if>
      <if test="settleReason != null">
        settle_reason,
      </if>
      <if test="settleReasonDetail != null">
        settle_reason_detail,
      </if>
      <if test="isGrey != null">
        is_grey,
      </if>
      <if test="settleFreeze != null">
        settle_freeze,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="standardMatchId != null">
        #{standardMatchId,jdbcType=BIGINT},
      </if>
      <if test="thirdMatchId != null">
        #{thirdMatchId,jdbcType=BIGINT},
      </if>
      <if test="periodId != null">
        #{periodId,jdbcType=BIGINT},
      </if>
      <if test="thirdEventSourceId != null">
        #{thirdEventSourceId,jdbcType=BIGINT},
      </if>
      <if test="eventType != null">
        #{eventType,jdbcType=INTEGER},
      </if>
      <if test="eventCode != null">
        #{eventCode,jdbcType=VARCHAR},
      </if>
      <if test="t1 != null">
        #{t1,jdbcType=INTEGER},
      </if>
      <if test="t2 != null">
        #{t2,jdbcType=INTEGER},
      </if>
      <if test="settleNum != null">
        #{settleNum,jdbcType=VARCHAR},
      </if>
      <if test="eventOrder != null">
        #{eventOrder,jdbcType=INTEGER},
      </if>
      <if test="eventName != null">
        #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="homeAway != null">
        #{homeAway,jdbcType=VARCHAR},
      </if>
      <if test="playerName != null">
        #{playerName,jdbcType=VARCHAR},
      </if>
      <if test="playerNameCode != null">
        #{playerNameCode,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceCode != null">
        #{dataSourceCode,jdbcType=VARCHAR},
      </if>
      <if test="sportId != null">
        #{sportId,jdbcType=BIGINT},
      </if>
      <if test="extryInfo != null">
        #{extryInfo,jdbcType=VARCHAR},
      </if>
      <if test="firstNum != null">
        #{firstNum,jdbcType=INTEGER},
      </if>
      <if test="secondNum != null">
        #{secondNum,jdbcType=INTEGER},
      </if>
      <if test="firstT1 != null">
        #{firstT1,jdbcType=INTEGER},
      </if>
      <if test="firstT2 != null">
        #{firstT2,jdbcType=INTEGER},
      </if>
      <if test="secondT1 != null">
        #{secondT1,jdbcType=INTEGER},
      </if>
      <if test="secondT2 != null">
        #{secondT2,jdbcType=INTEGER},
      </if>
      <if test="operateType != null">
        #{operateType,jdbcType=INTEGER},
      </if>
      <if test="operater != null">
        #{operater,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="settleTimes != null">
        #{settleTimes,jdbcType=INTEGER},
      </if>
      <if test="settleCount != null">
        #{settleCount,jdbcType=INTEGER},
      </if>
      <if test="settleReason != null">
        #{settleReason,jdbcType=INTEGER},
      </if>
      <if test="settleReasonDetail != null">
        #{settleReasonDetail,jdbcType=VARCHAR},
      </if>
      <if test="isGrey != null">
        #{isGrey,jdbcType=INTEGER},
      </if>
      <if test="settleFreeze != null">
        #{settleFreeze,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.panda.merge.model.MatchSettleThirdEventExample" resultType="java.lang.Long">
    select count(*) from match_settle_third_event
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update match_settle_third_event
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.standardMatchId != null">
        standard_match_id = #{record.standardMatchId,jdbcType=BIGINT},
      </if>
      <if test="record.thirdMatchId != null">
        third_match_id = #{record.thirdMatchId,jdbcType=BIGINT},
      </if>
      <if test="record.periodId != null">
        period_id = #{record.periodId,jdbcType=BIGINT},
      </if>
      <if test="record.thirdEventSourceId != null">
        third_event_source_id = #{record.thirdEventSourceId,jdbcType=BIGINT},
      </if>
      <if test="record.eventType != null">
        event_type = #{record.eventType,jdbcType=INTEGER},
      </if>
      <if test="record.eventCode != null">
        event_code = #{record.eventCode,jdbcType=VARCHAR},
      </if>
      <if test="record.t1 != null">
        t1 = #{record.t1,jdbcType=INTEGER},
      </if>
      <if test="record.t2 != null">
        t2 = #{record.t2,jdbcType=INTEGER},
      </if>
      <if test="record.settleNum != null">
        settle_num = #{record.settleNum,jdbcType=VARCHAR},
      </if>
      <if test="record.eventOrder != null">
        event_order = #{record.eventOrder,jdbcType=INTEGER},
      </if>
      <if test="record.eventName != null">
        event_name = #{record.eventName,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.homeAway != null">
        home_away = #{record.homeAway,jdbcType=VARCHAR},
      </if>
      <if test="record.playerName != null">
        player_name = #{record.playerName,jdbcType=VARCHAR},
      </if>
      <if test="record.playerNameCode != null">
        player_name_code = #{record.playerNameCode,jdbcType=VARCHAR},
      </if>
      <if test="record.dataSourceCode != null">
        data_source_code = #{record.dataSourceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sportId != null">
        sport_id = #{record.sportId,jdbcType=BIGINT},
      </if>
      <if test="record.extryInfo != null">
        extry_info = #{record.extryInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.firstNum != null">
        first_num = #{record.firstNum,jdbcType=INTEGER},
      </if>
      <if test="record.secondNum != null">
        second_num = #{record.secondNum,jdbcType=INTEGER},
      </if>
      <if test="record.firstT1 != null">
        first_t1 = #{record.firstT1,jdbcType=INTEGER},
      </if>
      <if test="record.firstT2 != null">
        first_t2 = #{record.firstT2,jdbcType=INTEGER},
      </if>
      <if test="record.secondT1 != null">
        second_t1 = #{record.secondT1,jdbcType=INTEGER},
      </if>
      <if test="record.secondT2 != null">
        second_t2 = #{record.secondT2,jdbcType=INTEGER},
      </if>
      <if test="record.operateType != null">
        operate_type = #{record.operateType,jdbcType=INTEGER},
      </if>
      <if test="record.operater != null">
        operater = #{record.operater,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        userId = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.settleTimes != null">
        settle_times = #{record.settleTimes,jdbcType=INTEGER},
      </if>
      <if test="record.settleCount != null">
        settle_count = #{record.settleCount,jdbcType=INTEGER},
      </if>
      <if test="record.settleReason != null">
        settle_reason = #{record.settleReason,jdbcType=INTEGER},
      </if>
      <if test="record.settleReasonDetail != null">
        settle_reason_detail = #{record.settleReasonDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.isGrey != null">
        is_grey = #{record.isGrey,jdbcType=INTEGER},
      </if>
      <if test="record.settleFreeze != null">
        settle_freeze = #{record.settleFreeze,jdbcType=INTEGER},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update match_settle_third_event
    set id = #{record.id,jdbcType=BIGINT},
      standard_match_id = #{record.standardMatchId,jdbcType=BIGINT},
      third_match_id = #{record.thirdMatchId,jdbcType=BIGINT},
      period_id = #{record.periodId,jdbcType=BIGINT},
      third_event_source_id = #{record.thirdEventSourceId,jdbcType=BIGINT},
      event_type = #{record.eventType,jdbcType=INTEGER},
      event_code = #{record.eventCode,jdbcType=VARCHAR},
      t1 = #{record.t1,jdbcType=INTEGER},
      t2 = #{record.t2,jdbcType=INTEGER},
      settle_num = #{record.settleNum,jdbcType=VARCHAR},
      event_order = #{record.eventOrder,jdbcType=INTEGER},
      event_name = #{record.eventName,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      home_away = #{record.homeAway,jdbcType=VARCHAR},
      player_name = #{record.playerName,jdbcType=VARCHAR},
      player_name_code = #{record.playerNameCode,jdbcType=VARCHAR},
      data_source_code = #{record.dataSourceCode,jdbcType=VARCHAR},
      sport_id = #{record.sportId,jdbcType=BIGINT},
      extry_info = #{record.extryInfo,jdbcType=VARCHAR},
      first_num = #{record.firstNum,jdbcType=INTEGER},
      second_num = #{record.secondNum,jdbcType=INTEGER},
      first_t1 = #{record.firstT1,jdbcType=INTEGER},
      first_t2 = #{record.firstT2,jdbcType=INTEGER},
      second_t1 = #{record.secondT1,jdbcType=INTEGER},
      second_t2 = #{record.secondT2,jdbcType=INTEGER},
      operate_type = #{record.operateType,jdbcType=INTEGER},
      operater = #{record.operater,jdbcType=VARCHAR},
      userId = #{record.userid,jdbcType=VARCHAR},
      settle_times = #{record.settleTimes,jdbcType=INTEGER},
      settle_count = #{record.settleCount,jdbcType=INTEGER},
      settle_reason = #{record.settleReason,jdbcType=INTEGER},
      settle_reason_detail = #{record.settleReasonDetail,jdbcType=VARCHAR},
      is_grey = #{record.isGrey,jdbcType=INTEGER},
      settle_freeze = #{record.settleFreeze,jdbcType=INTEGER},
      modify_time = #{record.modifyTime,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.merge.model.MatchSettleThirdEvent">
    update match_settle_third_event
    <set>
      <if test="standardMatchId != null">
        standard_match_id = #{standardMatchId,jdbcType=BIGINT},
      </if>
      <if test="thirdMatchId != null">
        third_match_id = #{thirdMatchId,jdbcType=BIGINT},
      </if>
      <if test="periodId != null">
        period_id = #{periodId,jdbcType=BIGINT},
      </if>
      <if test="thirdEventSourceId != null">
        third_event_source_id = #{thirdEventSourceId,jdbcType=BIGINT},
      </if>
      <if test="eventType != null">
        event_type = #{eventType,jdbcType=INTEGER},
      </if>
      <if test="eventCode != null">
        event_code = #{eventCode,jdbcType=VARCHAR},
      </if>
      <if test="t1 != null">
        t1 = #{t1,jdbcType=INTEGER},
      </if>
      <if test="t2 != null">
        t2 = #{t2,jdbcType=INTEGER},
      </if>
      <if test="settleNum != null">
        settle_num = #{settleNum,jdbcType=VARCHAR},
      </if>
      <if test="eventOrder != null">
        event_order = #{eventOrder,jdbcType=INTEGER},
      </if>
      <if test="eventName != null">
        event_name = #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="homeAway != null">
        home_away = #{homeAway,jdbcType=VARCHAR},
      </if>
      <if test="playerName != null">
        player_name = #{playerName,jdbcType=VARCHAR},
      </if>
      <if test="playerNameCode != null">
        player_name_code = #{playerNameCode,jdbcType=VARCHAR},
      </if>
      <if test="dataSourceCode != null">
        data_source_code = #{dataSourceCode,jdbcType=VARCHAR},
      </if>
      <if test="sportId != null">
        sport_id = #{sportId,jdbcType=BIGINT},
      </if>
      <if test="extryInfo != null">
        extry_info = #{extryInfo,jdbcType=VARCHAR},
      </if>
      <if test="firstNum != null">
        first_num = #{firstNum,jdbcType=INTEGER},
      </if>
      <if test="secondNum != null">
        second_num = #{secondNum,jdbcType=INTEGER},
      </if>
      <if test="firstT1 != null">
        first_t1 = #{firstT1,jdbcType=INTEGER},
      </if>
      <if test="firstT2 != null">
        first_t2 = #{firstT2,jdbcType=INTEGER},
      </if>
      <if test="secondT1 != null">
        second_t1 = #{secondT1,jdbcType=INTEGER},
      </if>
      <if test="secondT2 != null">
        second_t2 = #{secondT2,jdbcType=INTEGER},
      </if>
      <if test="operateType != null">
        operate_type = #{operateType,jdbcType=INTEGER},
      </if>
      <if test="operater != null">
        operater = #{operater,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="settleTimes != null">
        settle_times = #{settleTimes,jdbcType=INTEGER},
      </if>
      <if test="settleCount != null">
        settle_count = #{settleCount,jdbcType=INTEGER},
      </if>
      <if test="settleReason != null">
        settle_reason = #{settleReason,jdbcType=INTEGER},
      </if>
      <if test="settleReasonDetail != null">
        settle_reason_detail = #{settleReasonDetail,jdbcType=VARCHAR},
      </if>
      <if test="isGrey != null">
        is_grey = #{isGrey,jdbcType=INTEGER},
      </if>
      <if test="settleFreeze != null">
        settle_freeze = #{settleFreeze,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.merge.model.MatchSettleThirdEvent">
    update match_settle_third_event
    set standard_match_id = #{standardMatchId,jdbcType=BIGINT},
      third_match_id = #{thirdMatchId,jdbcType=BIGINT},
      period_id = #{periodId,jdbcType=BIGINT},
      third_event_source_id = #{thirdEventSourceId,jdbcType=BIGINT},
      event_type = #{eventType,jdbcType=INTEGER},
      event_code = #{eventCode,jdbcType=VARCHAR},
      t1 = #{t1,jdbcType=INTEGER},
      t2 = #{t2,jdbcType=INTEGER},
      settle_num = #{settleNum,jdbcType=VARCHAR},
      event_order = #{eventOrder,jdbcType=INTEGER},
      event_name = #{eventName,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      home_away = #{homeAway,jdbcType=VARCHAR},
      player_name = #{playerName,jdbcType=VARCHAR},
      player_name_code = #{playerNameCode,jdbcType=VARCHAR},
      data_source_code = #{dataSourceCode,jdbcType=VARCHAR},
      sport_id = #{sportId,jdbcType=BIGINT},
      extry_info = #{extryInfo,jdbcType=VARCHAR},
      first_num = #{firstNum,jdbcType=INTEGER},
      second_num = #{secondNum,jdbcType=INTEGER},
      first_t1 = #{firstT1,jdbcType=INTEGER},
      first_t2 = #{firstT2,jdbcType=INTEGER},
      second_t1 = #{secondT1,jdbcType=INTEGER},
      second_t2 = #{secondT2,jdbcType=INTEGER},
      operate_type = #{operateType,jdbcType=INTEGER},
      operater = #{operater,jdbcType=VARCHAR},
      userId = #{userid,jdbcType=VARCHAR},
      settle_times = #{settleTimes,jdbcType=INTEGER},
      settle_count = #{settleCount,jdbcType=INTEGER},
      settle_reason = #{settleReason,jdbcType=INTEGER},
      settle_reason_detail = #{settleReasonDetail,jdbcType=VARCHAR},
      is_grey = #{isGrey,jdbcType=INTEGER},
      settle_freeze = #{settleFreeze,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>