<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.merge.mapper.StandardSportMarketSellCopy1DeleteMapper">
  <resultMap id="BaseResultMap" type="com.panda.merge.model.StandardSportMarketSellCopy1Delete">
    <id column="id" jdbcType="BIGINT" property="id" />
    <id column="match_info_id" jdbcType="BIGINT" property="matchInfoId" />
    <result column="sport_id" jdbcType="BIGINT" property="sportId" />
    <result column="round_type" jdbcType="TINYINT" property="roundType" />
    <result column="match_manage_id" jdbcType="VARCHAR" property="matchManageId" />
    <result column="pre_risk_manager_code" jdbcType="VARCHAR" property="preRiskManagerCode" />
    <result column="pre_match_data_provider_code" jdbcType="VARCHAR" property="preMatchDataProviderCode" />
    <result column="live_risk_manager_code" jdbcType="VARCHAR" property="liveRiskManagerCode" />
    <result column="live_match_data_provider_code" jdbcType="VARCHAR" property="liveMatchDataProviderCode" />
    <result column="tournament_level" jdbcType="INTEGER" property="tournamentLevel" />
    <result column="live_odd_business" jdbcType="TINYINT" property="liveOddBusiness" />
    <result column="tournament_id" jdbcType="BIGINT" property="tournamentId" />
    <result column="tournament_name_cn" jdbcType="VARCHAR" property="tournamentNameCn" />
    <result column="tournament_name_en" jdbcType="VARCHAR" property="tournamentNameEn" />
    <result column="team_home_id" jdbcType="BIGINT" property="teamHomeId" />
    <result column="team_home_name_cn" jdbcType="VARCHAR" property="teamHomeNameCn" />
    <result column="team_home_name_en" jdbcType="VARCHAR" property="teamHomeNameEn" />
    <result column="team_away_id" jdbcType="BIGINT" property="teamAwayId" />
    <result column="team_away_name_cn" jdbcType="VARCHAR" property="teamAwayNameCn" />
    <result column="team_away_name_en" jdbcType="VARCHAR" property="teamAwayNameEn" />
    <result column="pre_match_time" jdbcType="BIGINT" property="preMatchTime" />
    <result column="live_odd_time" jdbcType="BIGINT" property="liveOddTime" />
    <result column="begin_time" jdbcType="BIGINT" property="beginTime" />
    <result column="pre_trader_id" jdbcType="VARCHAR" property="preTraderId" />
    <result column="pre_trader" jdbcType="VARCHAR" property="preTrader" />
    <result column="pre_trader_department_id" jdbcType="TINYINT" property="preTraderDepartmentId" />
    <result column="pre_trader_status" jdbcType="VARCHAR" property="preTraderStatus" />
    <result column="live_trader_id" jdbcType="VARCHAR" property="liveTraderId" />
    <result column="live_trader" jdbcType="VARCHAR" property="liveTrader" />
    <result column="live_trader_department_id" jdbcType="TINYINT" property="liveTraderDepartmentId" />
    <result column="live_trader_status" jdbcType="VARCHAR" property="liveTraderStatus" />
    <result column="auditor_id" jdbcType="VARCHAR" property="auditorId" />
    <result column="auditor" jdbcType="VARCHAR" property="auditor" />
    <result column="auditor_department_id" jdbcType="TINYINT" property="auditorDepartmentId" />
    <result column="auditor_status" jdbcType="VARCHAR" property="auditorStatus" />
    <result column="business_event" jdbcType="VARCHAR" property="businessEvent" />
    <result column="pre_match_sell_status" jdbcType="VARCHAR" property="preMatchSellStatus" />
    <result column="live_match_sell_status" jdbcType="VARCHAR" property="liveMatchSellStatus" />
    <result column="neutral_ground" jdbcType="TINYINT" property="neutralGround" />
    <result column="video_id" jdbcType="VARCHAR" property="videoId" />
    <result column="video" jdbcType="VARCHAR" property="video" />
    <result column="animation_id" jdbcType="VARCHAR" property="animationId" />
    <result column="animation" jdbcType="VARCHAR" property="animation" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="modify_time" jdbcType="BIGINT" property="modifyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, match_info_id, sport_id, round_type, match_manage_id, pre_risk_manager_code, 
    pre_match_data_provider_code, live_risk_manager_code, live_match_data_provider_code, 
    tournament_level, live_odd_business, tournament_id, tournament_name_cn, tournament_name_en, 
    team_home_id, team_home_name_cn, team_home_name_en, team_away_id, team_away_name_cn, 
    team_away_name_en, pre_match_time, live_odd_time, begin_time, pre_trader_id, pre_trader, 
    pre_trader_department_id, pre_trader_status, live_trader_id, live_trader, live_trader_department_id, 
    live_trader_status, auditor_id, auditor, auditor_department_id, auditor_status, business_event, 
    pre_match_sell_status, live_match_sell_status, neutral_ground, video_id, video, animation_id, 
    animation, status, create_time, modify_time
  </sql>
  <select id="selectByExample" parameterType="com.panda.merge.model.StandardSportMarketSellCopy1DeleteExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from standard_sport_market_sell_copy1_delete
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from standard_sport_market_sell_copy1_delete
    where id = #{id,jdbcType=BIGINT}
      and match_info_id = #{matchInfoId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from standard_sport_market_sell_copy1_delete
    where id = #{id,jdbcType=BIGINT}
      and match_info_id = #{matchInfoId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.panda.merge.model.StandardSportMarketSellCopy1DeleteExample">
    delete from standard_sport_market_sell_copy1_delete
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.panda.merge.model.StandardSportMarketSellCopy1Delete">
    insert into standard_sport_market_sell_copy1_delete (id, match_info_id, sport_id, 
      round_type, match_manage_id, pre_risk_manager_code, 
      pre_match_data_provider_code, live_risk_manager_code, 
      live_match_data_provider_code, tournament_level, 
      live_odd_business, tournament_id, tournament_name_cn, 
      tournament_name_en, team_home_id, team_home_name_cn, 
      team_home_name_en, team_away_id, team_away_name_cn, 
      team_away_name_en, pre_match_time, live_odd_time, 
      begin_time, pre_trader_id, pre_trader, 
      pre_trader_department_id, pre_trader_status, 
      live_trader_id, live_trader, live_trader_department_id, 
      live_trader_status, auditor_id, auditor, 
      auditor_department_id, auditor_status, business_event, 
      pre_match_sell_status, live_match_sell_status, 
      neutral_ground, video_id, video, 
      animation_id, animation, status, 
      create_time, modify_time)
    values (#{id,jdbcType=BIGINT}, #{matchInfoId,jdbcType=BIGINT}, #{sportId,jdbcType=BIGINT}, 
      #{roundType,jdbcType=TINYINT}, #{matchManageId,jdbcType=VARCHAR}, #{preRiskManagerCode,jdbcType=VARCHAR}, 
      #{preMatchDataProviderCode,jdbcType=VARCHAR}, #{liveRiskManagerCode,jdbcType=VARCHAR}, 
      #{liveMatchDataProviderCode,jdbcType=VARCHAR}, #{tournamentLevel,jdbcType=INTEGER}, 
      #{liveOddBusiness,jdbcType=TINYINT}, #{tournamentId,jdbcType=BIGINT}, #{tournamentNameCn,jdbcType=VARCHAR}, 
      #{tournamentNameEn,jdbcType=VARCHAR}, #{teamHomeId,jdbcType=BIGINT}, #{teamHomeNameCn,jdbcType=VARCHAR}, 
      #{teamHomeNameEn,jdbcType=VARCHAR}, #{teamAwayId,jdbcType=BIGINT}, #{teamAwayNameCn,jdbcType=VARCHAR}, 
      #{teamAwayNameEn,jdbcType=VARCHAR}, #{preMatchTime,jdbcType=BIGINT}, #{liveOddTime,jdbcType=BIGINT}, 
      #{beginTime,jdbcType=BIGINT}, #{preTraderId,jdbcType=VARCHAR}, #{preTrader,jdbcType=VARCHAR}, 
      #{preTraderDepartmentId,jdbcType=TINYINT}, #{preTraderStatus,jdbcType=VARCHAR}, 
      #{liveTraderId,jdbcType=VARCHAR}, #{liveTrader,jdbcType=VARCHAR}, #{liveTraderDepartmentId,jdbcType=TINYINT}, 
      #{liveTraderStatus,jdbcType=VARCHAR}, #{auditorId,jdbcType=VARCHAR}, #{auditor,jdbcType=VARCHAR}, 
      #{auditorDepartmentId,jdbcType=TINYINT}, #{auditorStatus,jdbcType=VARCHAR}, #{businessEvent,jdbcType=VARCHAR}, 
      #{preMatchSellStatus,jdbcType=VARCHAR}, #{liveMatchSellStatus,jdbcType=VARCHAR}, 
      #{neutralGround,jdbcType=TINYINT}, #{videoId,jdbcType=VARCHAR}, #{video,jdbcType=VARCHAR}, 
      #{animationId,jdbcType=VARCHAR}, #{animation,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=BIGINT}, #{modifyTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.panda.merge.model.StandardSportMarketSellCopy1Delete">
    insert into standard_sport_market_sell_copy1_delete
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="matchInfoId != null">
        match_info_id,
      </if>
      <if test="sportId != null">
        sport_id,
      </if>
      <if test="roundType != null">
        round_type,
      </if>
      <if test="matchManageId != null">
        match_manage_id,
      </if>
      <if test="preRiskManagerCode != null">
        pre_risk_manager_code,
      </if>
      <if test="preMatchDataProviderCode != null">
        pre_match_data_provider_code,
      </if>
      <if test="liveRiskManagerCode != null">
        live_risk_manager_code,
      </if>
      <if test="liveMatchDataProviderCode != null">
        live_match_data_provider_code,
      </if>
      <if test="tournamentLevel != null">
        tournament_level,
      </if>
      <if test="liveOddBusiness != null">
        live_odd_business,
      </if>
      <if test="tournamentId != null">
        tournament_id,
      </if>
      <if test="tournamentNameCn != null">
        tournament_name_cn,
      </if>
      <if test="tournamentNameEn != null">
        tournament_name_en,
      </if>
      <if test="teamHomeId != null">
        team_home_id,
      </if>
      <if test="teamHomeNameCn != null">
        team_home_name_cn,
      </if>
      <if test="teamHomeNameEn != null">
        team_home_name_en,
      </if>
      <if test="teamAwayId != null">
        team_away_id,
      </if>
      <if test="teamAwayNameCn != null">
        team_away_name_cn,
      </if>
      <if test="teamAwayNameEn != null">
        team_away_name_en,
      </if>
      <if test="preMatchTime != null">
        pre_match_time,
      </if>
      <if test="liveOddTime != null">
        live_odd_time,
      </if>
      <if test="beginTime != null">
        begin_time,
      </if>
      <if test="preTraderId != null">
        pre_trader_id,
      </if>
      <if test="preTrader != null">
        pre_trader,
      </if>
      <if test="preTraderDepartmentId != null">
        pre_trader_department_id,
      </if>
      <if test="preTraderStatus != null">
        pre_trader_status,
      </if>
      <if test="liveTraderId != null">
        live_trader_id,
      </if>
      <if test="liveTrader != null">
        live_trader,
      </if>
      <if test="liveTraderDepartmentId != null">
        live_trader_department_id,
      </if>
      <if test="liveTraderStatus != null">
        live_trader_status,
      </if>
      <if test="auditorId != null">
        auditor_id,
      </if>
      <if test="auditor != null">
        auditor,
      </if>
      <if test="auditorDepartmentId != null">
        auditor_department_id,
      </if>
      <if test="auditorStatus != null">
        auditor_status,
      </if>
      <if test="businessEvent != null">
        business_event,
      </if>
      <if test="preMatchSellStatus != null">
        pre_match_sell_status,
      </if>
      <if test="liveMatchSellStatus != null">
        live_match_sell_status,
      </if>
      <if test="neutralGround != null">
        neutral_ground,
      </if>
      <if test="videoId != null">
        video_id,
      </if>
      <if test="video != null">
        video,
      </if>
      <if test="animationId != null">
        animation_id,
      </if>
      <if test="animation != null">
        animation,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="matchInfoId != null">
        #{matchInfoId,jdbcType=BIGINT},
      </if>
      <if test="sportId != null">
        #{sportId,jdbcType=BIGINT},
      </if>
      <if test="roundType != null">
        #{roundType,jdbcType=TINYINT},
      </if>
      <if test="matchManageId != null">
        #{matchManageId,jdbcType=VARCHAR},
      </if>
      <if test="preRiskManagerCode != null">
        #{preRiskManagerCode,jdbcType=VARCHAR},
      </if>
      <if test="preMatchDataProviderCode != null">
        #{preMatchDataProviderCode,jdbcType=VARCHAR},
      </if>
      <if test="liveRiskManagerCode != null">
        #{liveRiskManagerCode,jdbcType=VARCHAR},
      </if>
      <if test="liveMatchDataProviderCode != null">
        #{liveMatchDataProviderCode,jdbcType=VARCHAR},
      </if>
      <if test="tournamentLevel != null">
        #{tournamentLevel,jdbcType=INTEGER},
      </if>
      <if test="liveOddBusiness != null">
        #{liveOddBusiness,jdbcType=TINYINT},
      </if>
      <if test="tournamentId != null">
        #{tournamentId,jdbcType=BIGINT},
      </if>
      <if test="tournamentNameCn != null">
        #{tournamentNameCn,jdbcType=VARCHAR},
      </if>
      <if test="tournamentNameEn != null">
        #{tournamentNameEn,jdbcType=VARCHAR},
      </if>
      <if test="teamHomeId != null">
        #{teamHomeId,jdbcType=BIGINT},
      </if>
      <if test="teamHomeNameCn != null">
        #{teamHomeNameCn,jdbcType=VARCHAR},
      </if>
      <if test="teamHomeNameEn != null">
        #{teamHomeNameEn,jdbcType=VARCHAR},
      </if>
      <if test="teamAwayId != null">
        #{teamAwayId,jdbcType=BIGINT},
      </if>
      <if test="teamAwayNameCn != null">
        #{teamAwayNameCn,jdbcType=VARCHAR},
      </if>
      <if test="teamAwayNameEn != null">
        #{teamAwayNameEn,jdbcType=VARCHAR},
      </if>
      <if test="preMatchTime != null">
        #{preMatchTime,jdbcType=BIGINT},
      </if>
      <if test="liveOddTime != null">
        #{liveOddTime,jdbcType=BIGINT},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=BIGINT},
      </if>
      <if test="preTraderId != null">
        #{preTraderId,jdbcType=VARCHAR},
      </if>
      <if test="preTrader != null">
        #{preTrader,jdbcType=VARCHAR},
      </if>
      <if test="preTraderDepartmentId != null">
        #{preTraderDepartmentId,jdbcType=TINYINT},
      </if>
      <if test="preTraderStatus != null">
        #{preTraderStatus,jdbcType=VARCHAR},
      </if>
      <if test="liveTraderId != null">
        #{liveTraderId,jdbcType=VARCHAR},
      </if>
      <if test="liveTrader != null">
        #{liveTrader,jdbcType=VARCHAR},
      </if>
      <if test="liveTraderDepartmentId != null">
        #{liveTraderDepartmentId,jdbcType=TINYINT},
      </if>
      <if test="liveTraderStatus != null">
        #{liveTraderStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditorId != null">
        #{auditorId,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null">
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditorDepartmentId != null">
        #{auditorDepartmentId,jdbcType=TINYINT},
      </if>
      <if test="auditorStatus != null">
        #{auditorStatus,jdbcType=VARCHAR},
      </if>
      <if test="businessEvent != null">
        #{businessEvent,jdbcType=VARCHAR},
      </if>
      <if test="preMatchSellStatus != null">
        #{preMatchSellStatus,jdbcType=VARCHAR},
      </if>
      <if test="liveMatchSellStatus != null">
        #{liveMatchSellStatus,jdbcType=VARCHAR},
      </if>
      <if test="neutralGround != null">
        #{neutralGround,jdbcType=TINYINT},
      </if>
      <if test="videoId != null">
        #{videoId,jdbcType=VARCHAR},
      </if>
      <if test="video != null">
        #{video,jdbcType=VARCHAR},
      </if>
      <if test="animationId != null">
        #{animationId,jdbcType=VARCHAR},
      </if>
      <if test="animation != null">
        #{animation,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.panda.merge.model.StandardSportMarketSellCopy1DeleteExample" resultType="java.lang.Long">
    select count(*) from standard_sport_market_sell_copy1_delete
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update standard_sport_market_sell_copy1_delete
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.matchInfoId != null">
        match_info_id = #{record.matchInfoId,jdbcType=BIGINT},
      </if>
      <if test="record.sportId != null">
        sport_id = #{record.sportId,jdbcType=BIGINT},
      </if>
      <if test="record.roundType != null">
        round_type = #{record.roundType,jdbcType=TINYINT},
      </if>
      <if test="record.matchManageId != null">
        match_manage_id = #{record.matchManageId,jdbcType=VARCHAR},
      </if>
      <if test="record.preRiskManagerCode != null">
        pre_risk_manager_code = #{record.preRiskManagerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.preMatchDataProviderCode != null">
        pre_match_data_provider_code = #{record.preMatchDataProviderCode,jdbcType=VARCHAR},
      </if>
      <if test="record.liveRiskManagerCode != null">
        live_risk_manager_code = #{record.liveRiskManagerCode,jdbcType=VARCHAR},
      </if>
      <if test="record.liveMatchDataProviderCode != null">
        live_match_data_provider_code = #{record.liveMatchDataProviderCode,jdbcType=VARCHAR},
      </if>
      <if test="record.tournamentLevel != null">
        tournament_level = #{record.tournamentLevel,jdbcType=INTEGER},
      </if>
      <if test="record.liveOddBusiness != null">
        live_odd_business = #{record.liveOddBusiness,jdbcType=TINYINT},
      </if>
      <if test="record.tournamentId != null">
        tournament_id = #{record.tournamentId,jdbcType=BIGINT},
      </if>
      <if test="record.tournamentNameCn != null">
        tournament_name_cn = #{record.tournamentNameCn,jdbcType=VARCHAR},
      </if>
      <if test="record.tournamentNameEn != null">
        tournament_name_en = #{record.tournamentNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.teamHomeId != null">
        team_home_id = #{record.teamHomeId,jdbcType=BIGINT},
      </if>
      <if test="record.teamHomeNameCn != null">
        team_home_name_cn = #{record.teamHomeNameCn,jdbcType=VARCHAR},
      </if>
      <if test="record.teamHomeNameEn != null">
        team_home_name_en = #{record.teamHomeNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.teamAwayId != null">
        team_away_id = #{record.teamAwayId,jdbcType=BIGINT},
      </if>
      <if test="record.teamAwayNameCn != null">
        team_away_name_cn = #{record.teamAwayNameCn,jdbcType=VARCHAR},
      </if>
      <if test="record.teamAwayNameEn != null">
        team_away_name_en = #{record.teamAwayNameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.preMatchTime != null">
        pre_match_time = #{record.preMatchTime,jdbcType=BIGINT},
      </if>
      <if test="record.liveOddTime != null">
        live_odd_time = #{record.liveOddTime,jdbcType=BIGINT},
      </if>
      <if test="record.beginTime != null">
        begin_time = #{record.beginTime,jdbcType=BIGINT},
      </if>
      <if test="record.preTraderId != null">
        pre_trader_id = #{record.preTraderId,jdbcType=VARCHAR},
      </if>
      <if test="record.preTrader != null">
        pre_trader = #{record.preTrader,jdbcType=VARCHAR},
      </if>
      <if test="record.preTraderDepartmentId != null">
        pre_trader_department_id = #{record.preTraderDepartmentId,jdbcType=TINYINT},
      </if>
      <if test="record.preTraderStatus != null">
        pre_trader_status = #{record.preTraderStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.liveTraderId != null">
        live_trader_id = #{record.liveTraderId,jdbcType=VARCHAR},
      </if>
      <if test="record.liveTrader != null">
        live_trader = #{record.liveTrader,jdbcType=VARCHAR},
      </if>
      <if test="record.liveTraderDepartmentId != null">
        live_trader_department_id = #{record.liveTraderDepartmentId,jdbcType=TINYINT},
      </if>
      <if test="record.liveTraderStatus != null">
        live_trader_status = #{record.liveTraderStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.auditorId != null">
        auditor_id = #{record.auditorId,jdbcType=VARCHAR},
      </if>
      <if test="record.auditor != null">
        auditor = #{record.auditor,jdbcType=VARCHAR},
      </if>
      <if test="record.auditorDepartmentId != null">
        auditor_department_id = #{record.auditorDepartmentId,jdbcType=TINYINT},
      </if>
      <if test="record.auditorStatus != null">
        auditor_status = #{record.auditorStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.businessEvent != null">
        business_event = #{record.businessEvent,jdbcType=VARCHAR},
      </if>
      <if test="record.preMatchSellStatus != null">
        pre_match_sell_status = #{record.preMatchSellStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.liveMatchSellStatus != null">
        live_match_sell_status = #{record.liveMatchSellStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.neutralGround != null">
        neutral_ground = #{record.neutralGround,jdbcType=TINYINT},
      </if>
      <if test="record.videoId != null">
        video_id = #{record.videoId,jdbcType=VARCHAR},
      </if>
      <if test="record.video != null">
        video = #{record.video,jdbcType=VARCHAR},
      </if>
      <if test="record.animationId != null">
        animation_id = #{record.animationId,jdbcType=VARCHAR},
      </if>
      <if test="record.animation != null">
        animation = #{record.animation,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update standard_sport_market_sell_copy1_delete
    set id = #{record.id,jdbcType=BIGINT},
      match_info_id = #{record.matchInfoId,jdbcType=BIGINT},
      sport_id = #{record.sportId,jdbcType=BIGINT},
      round_type = #{record.roundType,jdbcType=TINYINT},
      match_manage_id = #{record.matchManageId,jdbcType=VARCHAR},
      pre_risk_manager_code = #{record.preRiskManagerCode,jdbcType=VARCHAR},
      pre_match_data_provider_code = #{record.preMatchDataProviderCode,jdbcType=VARCHAR},
      live_risk_manager_code = #{record.liveRiskManagerCode,jdbcType=VARCHAR},
      live_match_data_provider_code = #{record.liveMatchDataProviderCode,jdbcType=VARCHAR},
      tournament_level = #{record.tournamentLevel,jdbcType=INTEGER},
      live_odd_business = #{record.liveOddBusiness,jdbcType=TINYINT},
      tournament_id = #{record.tournamentId,jdbcType=BIGINT},
      tournament_name_cn = #{record.tournamentNameCn,jdbcType=VARCHAR},
      tournament_name_en = #{record.tournamentNameEn,jdbcType=VARCHAR},
      team_home_id = #{record.teamHomeId,jdbcType=BIGINT},
      team_home_name_cn = #{record.teamHomeNameCn,jdbcType=VARCHAR},
      team_home_name_en = #{record.teamHomeNameEn,jdbcType=VARCHAR},
      team_away_id = #{record.teamAwayId,jdbcType=BIGINT},
      team_away_name_cn = #{record.teamAwayNameCn,jdbcType=VARCHAR},
      team_away_name_en = #{record.teamAwayNameEn,jdbcType=VARCHAR},
      pre_match_time = #{record.preMatchTime,jdbcType=BIGINT},
      live_odd_time = #{record.liveOddTime,jdbcType=BIGINT},
      begin_time = #{record.beginTime,jdbcType=BIGINT},
      pre_trader_id = #{record.preTraderId,jdbcType=VARCHAR},
      pre_trader = #{record.preTrader,jdbcType=VARCHAR},
      pre_trader_department_id = #{record.preTraderDepartmentId,jdbcType=TINYINT},
      pre_trader_status = #{record.preTraderStatus,jdbcType=VARCHAR},
      live_trader_id = #{record.liveTraderId,jdbcType=VARCHAR},
      live_trader = #{record.liveTrader,jdbcType=VARCHAR},
      live_trader_department_id = #{record.liveTraderDepartmentId,jdbcType=TINYINT},
      live_trader_status = #{record.liveTraderStatus,jdbcType=VARCHAR},
      auditor_id = #{record.auditorId,jdbcType=VARCHAR},
      auditor = #{record.auditor,jdbcType=VARCHAR},
      auditor_department_id = #{record.auditorDepartmentId,jdbcType=TINYINT},
      auditor_status = #{record.auditorStatus,jdbcType=VARCHAR},
      business_event = #{record.businessEvent,jdbcType=VARCHAR},
      pre_match_sell_status = #{record.preMatchSellStatus,jdbcType=VARCHAR},
      live_match_sell_status = #{record.liveMatchSellStatus,jdbcType=VARCHAR},
      neutral_ground = #{record.neutralGround,jdbcType=TINYINT},
      video_id = #{record.videoId,jdbcType=VARCHAR},
      video = #{record.video,jdbcType=VARCHAR},
      animation_id = #{record.animationId,jdbcType=VARCHAR},
      animation = #{record.animation,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      modify_time = #{record.modifyTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.merge.model.StandardSportMarketSellCopy1Delete">
    update standard_sport_market_sell_copy1_delete
    <set>
      <if test="sportId != null">
        sport_id = #{sportId,jdbcType=BIGINT},
      </if>
      <if test="roundType != null">
        round_type = #{roundType,jdbcType=TINYINT},
      </if>
      <if test="matchManageId != null">
        match_manage_id = #{matchManageId,jdbcType=VARCHAR},
      </if>
      <if test="preRiskManagerCode != null">
        pre_risk_manager_code = #{preRiskManagerCode,jdbcType=VARCHAR},
      </if>
      <if test="preMatchDataProviderCode != null">
        pre_match_data_provider_code = #{preMatchDataProviderCode,jdbcType=VARCHAR},
      </if>
      <if test="liveRiskManagerCode != null">
        live_risk_manager_code = #{liveRiskManagerCode,jdbcType=VARCHAR},
      </if>
      <if test="liveMatchDataProviderCode != null">
        live_match_data_provider_code = #{liveMatchDataProviderCode,jdbcType=VARCHAR},
      </if>
      <if test="tournamentLevel != null">
        tournament_level = #{tournamentLevel,jdbcType=INTEGER},
      </if>
      <if test="liveOddBusiness != null">
        live_odd_business = #{liveOddBusiness,jdbcType=TINYINT},
      </if>
      <if test="tournamentId != null">
        tournament_id = #{tournamentId,jdbcType=BIGINT},
      </if>
      <if test="tournamentNameCn != null">
        tournament_name_cn = #{tournamentNameCn,jdbcType=VARCHAR},
      </if>
      <if test="tournamentNameEn != null">
        tournament_name_en = #{tournamentNameEn,jdbcType=VARCHAR},
      </if>
      <if test="teamHomeId != null">
        team_home_id = #{teamHomeId,jdbcType=BIGINT},
      </if>
      <if test="teamHomeNameCn != null">
        team_home_name_cn = #{teamHomeNameCn,jdbcType=VARCHAR},
      </if>
      <if test="teamHomeNameEn != null">
        team_home_name_en = #{teamHomeNameEn,jdbcType=VARCHAR},
      </if>
      <if test="teamAwayId != null">
        team_away_id = #{teamAwayId,jdbcType=BIGINT},
      </if>
      <if test="teamAwayNameCn != null">
        team_away_name_cn = #{teamAwayNameCn,jdbcType=VARCHAR},
      </if>
      <if test="teamAwayNameEn != null">
        team_away_name_en = #{teamAwayNameEn,jdbcType=VARCHAR},
      </if>
      <if test="preMatchTime != null">
        pre_match_time = #{preMatchTime,jdbcType=BIGINT},
      </if>
      <if test="liveOddTime != null">
        live_odd_time = #{liveOddTime,jdbcType=BIGINT},
      </if>
      <if test="beginTime != null">
        begin_time = #{beginTime,jdbcType=BIGINT},
      </if>
      <if test="preTraderId != null">
        pre_trader_id = #{preTraderId,jdbcType=VARCHAR},
      </if>
      <if test="preTrader != null">
        pre_trader = #{preTrader,jdbcType=VARCHAR},
      </if>
      <if test="preTraderDepartmentId != null">
        pre_trader_department_id = #{preTraderDepartmentId,jdbcType=TINYINT},
      </if>
      <if test="preTraderStatus != null">
        pre_trader_status = #{preTraderStatus,jdbcType=VARCHAR},
      </if>
      <if test="liveTraderId != null">
        live_trader_id = #{liveTraderId,jdbcType=VARCHAR},
      </if>
      <if test="liveTrader != null">
        live_trader = #{liveTrader,jdbcType=VARCHAR},
      </if>
      <if test="liveTraderDepartmentId != null">
        live_trader_department_id = #{liveTraderDepartmentId,jdbcType=TINYINT},
      </if>
      <if test="liveTraderStatus != null">
        live_trader_status = #{liveTraderStatus,jdbcType=VARCHAR},
      </if>
      <if test="auditorId != null">
        auditor_id = #{auditorId,jdbcType=VARCHAR},
      </if>
      <if test="auditor != null">
        auditor = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditorDepartmentId != null">
        auditor_department_id = #{auditorDepartmentId,jdbcType=TINYINT},
      </if>
      <if test="auditorStatus != null">
        auditor_status = #{auditorStatus,jdbcType=VARCHAR},
      </if>
      <if test="businessEvent != null">
        business_event = #{businessEvent,jdbcType=VARCHAR},
      </if>
      <if test="preMatchSellStatus != null">
        pre_match_sell_status = #{preMatchSellStatus,jdbcType=VARCHAR},
      </if>
      <if test="liveMatchSellStatus != null">
        live_match_sell_status = #{liveMatchSellStatus,jdbcType=VARCHAR},
      </if>
      <if test="neutralGround != null">
        neutral_ground = #{neutralGround,jdbcType=TINYINT},
      </if>
      <if test="videoId != null">
        video_id = #{videoId,jdbcType=VARCHAR},
      </if>
      <if test="video != null">
        video = #{video,jdbcType=VARCHAR},
      </if>
      <if test="animationId != null">
        animation_id = #{animationId,jdbcType=VARCHAR},
      </if>
      <if test="animation != null">
        animation = #{animation,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
      and match_info_id = #{matchInfoId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.merge.model.StandardSportMarketSellCopy1Delete">
    update standard_sport_market_sell_copy1_delete
    set sport_id = #{sportId,jdbcType=BIGINT},
      round_type = #{roundType,jdbcType=TINYINT},
      match_manage_id = #{matchManageId,jdbcType=VARCHAR},
      pre_risk_manager_code = #{preRiskManagerCode,jdbcType=VARCHAR},
      pre_match_data_provider_code = #{preMatchDataProviderCode,jdbcType=VARCHAR},
      live_risk_manager_code = #{liveRiskManagerCode,jdbcType=VARCHAR},
      live_match_data_provider_code = #{liveMatchDataProviderCode,jdbcType=VARCHAR},
      tournament_level = #{tournamentLevel,jdbcType=INTEGER},
      live_odd_business = #{liveOddBusiness,jdbcType=TINYINT},
      tournament_id = #{tournamentId,jdbcType=BIGINT},
      tournament_name_cn = #{tournamentNameCn,jdbcType=VARCHAR},
      tournament_name_en = #{tournamentNameEn,jdbcType=VARCHAR},
      team_home_id = #{teamHomeId,jdbcType=BIGINT},
      team_home_name_cn = #{teamHomeNameCn,jdbcType=VARCHAR},
      team_home_name_en = #{teamHomeNameEn,jdbcType=VARCHAR},
      team_away_id = #{teamAwayId,jdbcType=BIGINT},
      team_away_name_cn = #{teamAwayNameCn,jdbcType=VARCHAR},
      team_away_name_en = #{teamAwayNameEn,jdbcType=VARCHAR},
      pre_match_time = #{preMatchTime,jdbcType=BIGINT},
      live_odd_time = #{liveOddTime,jdbcType=BIGINT},
      begin_time = #{beginTime,jdbcType=BIGINT},
      pre_trader_id = #{preTraderId,jdbcType=VARCHAR},
      pre_trader = #{preTrader,jdbcType=VARCHAR},
      pre_trader_department_id = #{preTraderDepartmentId,jdbcType=TINYINT},
      pre_trader_status = #{preTraderStatus,jdbcType=VARCHAR},
      live_trader_id = #{liveTraderId,jdbcType=VARCHAR},
      live_trader = #{liveTrader,jdbcType=VARCHAR},
      live_trader_department_id = #{liveTraderDepartmentId,jdbcType=TINYINT},
      live_trader_status = #{liveTraderStatus,jdbcType=VARCHAR},
      auditor_id = #{auditorId,jdbcType=VARCHAR},
      auditor = #{auditor,jdbcType=VARCHAR},
      auditor_department_id = #{auditorDepartmentId,jdbcType=TINYINT},
      auditor_status = #{auditorStatus,jdbcType=VARCHAR},
      business_event = #{businessEvent,jdbcType=VARCHAR},
      pre_match_sell_status = #{preMatchSellStatus,jdbcType=VARCHAR},
      live_match_sell_status = #{liveMatchSellStatus,jdbcType=VARCHAR},
      neutral_ground = #{neutralGround,jdbcType=TINYINT},
      video_id = #{videoId,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      animation_id = #{animationId,jdbcType=VARCHAR},
      animation = #{animation,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
      and match_info_id = #{matchInfoId,jdbcType=BIGINT}
  </update>
</mapper>