<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.merge.mapper.StandardMatchTeamRelationMapper">
  <resultMap id="BaseResultMap" type="com.panda.merge.model.StandardMatchTeamRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="standard_team_id" jdbcType="BIGINT" property="standardTeamId" />
    <result column="team_name" jdbcType="VARCHAR" property="teamName" />
    <result column="standard_match_id" jdbcType="BIGINT" property="standardMatchId" />
    <result column="match_position" jdbcType="VARCHAR" property="matchPosition" />
    <result column="display_order" jdbcType="TINYINT" property="displayOrder" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="modify_time" jdbcType="BIGINT" property="modifyTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.panda.merge.model.StandardMatchTeamRelation">
    <result column="team_name_record" jdbcType="LONGVARCHAR" property="teamNameRecord" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, standard_team_id, team_name, standard_match_id, match_position, display_order, 
    remark, create_time, modify_time
  </sql>
  <sql id="Blob_Column_List">
    team_name_record
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.panda.merge.model.StandardMatchTeamRelationExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from standard_match_team_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.panda.merge.model.StandardMatchTeamRelationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from standard_match_team_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from standard_match_team_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from standard_match_team_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.panda.merge.model.StandardMatchTeamRelationExample">
    delete from standard_match_team_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.panda.merge.model.StandardMatchTeamRelation">
    insert into standard_match_team_relation (id, standard_team_id, team_name, 
      standard_match_id, match_position, display_order, 
      remark, create_time, modify_time, 
      team_name_record)
    values (#{id,jdbcType=BIGINT}, #{standardTeamId,jdbcType=BIGINT}, #{teamName,jdbcType=VARCHAR}, 
      #{standardMatchId,jdbcType=BIGINT}, #{matchPosition,jdbcType=VARCHAR}, #{displayOrder,jdbcType=TINYINT}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=BIGINT}, #{modifyTime,jdbcType=BIGINT}, 
      #{teamNameRecord,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.panda.merge.model.StandardMatchTeamRelation">
    insert into standard_match_team_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="standardTeamId != null">
        standard_team_id,
      </if>
      <if test="teamName != null">
        team_name,
      </if>
      <if test="standardMatchId != null">
        standard_match_id,
      </if>
      <if test="matchPosition != null">
        match_position,
      </if>
      <if test="displayOrder != null">
        display_order,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="teamNameRecord != null">
        team_name_record,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="standardTeamId != null">
        #{standardTeamId,jdbcType=BIGINT},
      </if>
      <if test="teamName != null">
        #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="standardMatchId != null">
        #{standardMatchId,jdbcType=BIGINT},
      </if>
      <if test="matchPosition != null">
        #{matchPosition,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        #{displayOrder,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="teamNameRecord != null">
        #{teamNameRecord,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.panda.merge.model.StandardMatchTeamRelationExample" resultType="java.lang.Long">
    select count(*) from standard_match_team_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update standard_match_team_relation
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.standardTeamId != null">
        standard_team_id = #{record.standardTeamId,jdbcType=BIGINT},
      </if>
      <if test="record.teamName != null">
        team_name = #{record.teamName,jdbcType=VARCHAR},
      </if>
      <if test="record.standardMatchId != null">
        standard_match_id = #{record.standardMatchId,jdbcType=BIGINT},
      </if>
      <if test="record.matchPosition != null">
        match_position = #{record.matchPosition,jdbcType=VARCHAR},
      </if>
      <if test="record.displayOrder != null">
        display_order = #{record.displayOrder,jdbcType=TINYINT},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=BIGINT},
      </if>
      <if test="record.teamNameRecord != null">
        team_name_record = #{record.teamNameRecord,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update standard_match_team_relation
    set id = #{record.id,jdbcType=BIGINT},
      standard_team_id = #{record.standardTeamId,jdbcType=BIGINT},
      team_name = #{record.teamName,jdbcType=VARCHAR},
      standard_match_id = #{record.standardMatchId,jdbcType=BIGINT},
      match_position = #{record.matchPosition,jdbcType=VARCHAR},
      display_order = #{record.displayOrder,jdbcType=TINYINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      modify_time = #{record.modifyTime,jdbcType=BIGINT},
      team_name_record = #{record.teamNameRecord,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update standard_match_team_relation
    set id = #{record.id,jdbcType=BIGINT},
      standard_team_id = #{record.standardTeamId,jdbcType=BIGINT},
      team_name = #{record.teamName,jdbcType=VARCHAR},
      standard_match_id = #{record.standardMatchId,jdbcType=BIGINT},
      match_position = #{record.matchPosition,jdbcType=VARCHAR},
      display_order = #{record.displayOrder,jdbcType=TINYINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      modify_time = #{record.modifyTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.merge.model.StandardMatchTeamRelation">
    update standard_match_team_relation
    <set>
      <if test="standardTeamId != null">
        standard_team_id = #{standardTeamId,jdbcType=BIGINT},
      </if>
      <if test="teamName != null">
        team_name = #{teamName,jdbcType=VARCHAR},
      </if>
      <if test="standardMatchId != null">
        standard_match_id = #{standardMatchId,jdbcType=BIGINT},
      </if>
      <if test="matchPosition != null">
        match_position = #{matchPosition,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        display_order = #{displayOrder,jdbcType=TINYINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="teamNameRecord != null">
        team_name_record = #{teamNameRecord,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.panda.merge.model.StandardMatchTeamRelation">
    update standard_match_team_relation
    set standard_team_id = #{standardTeamId,jdbcType=BIGINT},
      team_name = #{teamName,jdbcType=VARCHAR},
      standard_match_id = #{standardMatchId,jdbcType=BIGINT},
      match_position = #{matchPosition,jdbcType=VARCHAR},
      display_order = #{displayOrder,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      team_name_record = #{teamNameRecord,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.merge.model.StandardMatchTeamRelation">
    update standard_match_team_relation
    set standard_team_id = #{standardTeamId,jdbcType=BIGINT},
      team_name = #{teamName,jdbcType=VARCHAR},
      standard_match_id = #{standardMatchId,jdbcType=BIGINT},
      match_position = #{matchPosition,jdbcType=VARCHAR},
      display_order = #{displayOrder,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>