<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.merge.mapper.StandardSportMarketCategoryMapper">
  <resultMap id="BaseResultMap" type="com.panda.merge.model.StandardSportMarketCategory">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="sport_id" jdbcType="BIGINT" property="sportId" />
    <result column="market_category_id" jdbcType="BIGINT" property="marketCategoryId" />
    <result column="name_code" jdbcType="BIGINT" property="nameCode" />
    <result column="desc_name_code" jdbcType="BIGINT" property="descNameCode" />
    <result column="is_collapse" jdbcType="TINYINT" property="isCollapse" />
    <result column="scope_id" jdbcType="VARCHAR" property="scopeId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="merchant_status" jdbcType="TINYINT" property="merchantStatus" />
    <result column="ao_status" jdbcType="TINYINT" property="aoStatus" />
    <result column="order_no" jdbcType="INTEGER" property="orderNo" />
    <result column="template_h5" jdbcType="TINYINT" property="templateH5" />
    <result column="template_pc" jdbcType="TINYINT" property="templatePc" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="modify_time" jdbcType="BIGINT" property="modifyTime" />
    <result column="merchant_api_code_list" jdbcType="LONGVARCHAR" property="merchantApiCodeList" />
    <result column="template_pc_client" jdbcType="TINYINT" property="templatePcClient" />
    <result column="template_h5_client" jdbcType="TINYINT" property="templateH5Client" />
    <result column="detail_name_code" jdbcType="BIGINT" property="detailNameCode" />
    <result column="mr_status" jdbcType="TINYINT" property="mrStatus" />
    <result column="main_name_code" jdbcType="BIGINT" property="mainNameCode" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.panda.merge.model.StandardSportMarketCategory">
    <result column="merchant_api_code_list" jdbcType="LONGVARCHAR" property="merchantApiCodeList" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, sport_id, market_category_id, name_code, desc_name_code, is_collapse, scope_id, 
    status, merchant_status, ao_status, order_no, template_h5, template_pc, create_time, 
    modify_time, template_pc_client, template_h5_client, detail_name_code
  </sql>
  <sql id="Blob_Column_List">
    merchant_api_code_list
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.panda.merge.model.StandardSportMarketCategoryExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from standard_sport_market_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.panda.merge.model.StandardSportMarketCategoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from standard_sport_market_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from standard_sport_market_category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from standard_sport_market_category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.panda.merge.model.StandardSportMarketCategoryExample">
    delete from standard_sport_market_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.panda.merge.model.StandardSportMarketCategory">
    insert into standard_sport_market_category (id, sport_id, market_category_id, 
      name_code, desc_name_code, is_collapse, 
      scope_id, status, merchant_status, 
      ao_status, order_no, template_h5, 
      template_pc, create_time, modify_time, 
      template_pc_client, template_h5_client, detail_name_code, 
      merchant_api_code_list)
    values (#{id,jdbcType=BIGINT}, #{sportId,jdbcType=BIGINT}, #{marketCategoryId,jdbcType=BIGINT}, 
      #{nameCode,jdbcType=BIGINT}, #{descNameCode,jdbcType=BIGINT}, #{isCollapse,jdbcType=TINYINT}, 
      #{scopeId,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{merchantStatus,jdbcType=TINYINT}, 
      #{aoStatus,jdbcType=TINYINT}, #{orderNo,jdbcType=INTEGER}, #{templateH5,jdbcType=TINYINT}, 
      #{templatePc,jdbcType=TINYINT}, #{createTime,jdbcType=BIGINT}, #{modifyTime,jdbcType=BIGINT}, 
      #{templatePcClient,jdbcType=TINYINT}, #{templateH5Client,jdbcType=TINYINT}, #{detailNameCode,jdbcType=BIGINT}, 
      #{merchantApiCodeList,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.panda.merge.model.StandardSportMarketCategory">
    insert into standard_sport_market_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sportId != null">
        sport_id,
      </if>
      <if test="marketCategoryId != null">
        market_category_id,
      </if>
      <if test="nameCode != null">
        name_code,
      </if>
      <if test="descNameCode != null">
        desc_name_code,
      </if>
      <if test="isCollapse != null">
        is_collapse,
      </if>
      <if test="scopeId != null">
        scope_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="merchantStatus != null">
        merchant_status,
      </if>
      <if test="aoStatus != null">
        ao_status,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="templateH5 != null">
        template_h5,
      </if>
      <if test="templatePc != null">
        template_pc,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="templatePcClient != null">
        template_pc_client,
      </if>
      <if test="templateH5Client != null">
        template_h5_client,
      </if>
      <if test="detailNameCode != null">
        detail_name_code,
      </if>
      <if test="merchantApiCodeList != null">
        merchant_api_code_list,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sportId != null">
        #{sportId,jdbcType=BIGINT},
      </if>
      <if test="marketCategoryId != null">
        #{marketCategoryId,jdbcType=BIGINT},
      </if>
      <if test="nameCode != null">
        #{nameCode,jdbcType=BIGINT},
      </if>
      <if test="descNameCode != null">
        #{descNameCode,jdbcType=BIGINT},
      </if>
      <if test="isCollapse != null">
        #{isCollapse,jdbcType=TINYINT},
      </if>
      <if test="scopeId != null">
        #{scopeId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="merchantStatus != null">
        #{merchantStatus,jdbcType=TINYINT},
      </if>
      <if test="aoStatus != null">
        #{aoStatus,jdbcType=TINYINT},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="templateH5 != null">
        #{templateH5,jdbcType=TINYINT},
      </if>
      <if test="templatePc != null">
        #{templatePc,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="templatePcClient != null">
        #{templatePcClient,jdbcType=TINYINT},
      </if>
      <if test="templateH5Client != null">
        #{templateH5Client,jdbcType=TINYINT},
      </if>
      <if test="detailNameCode != null">
        #{detailNameCode,jdbcType=BIGINT},
      </if>
      <if test="merchantApiCodeList != null">
        #{merchantApiCodeList,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.panda.merge.model.StandardSportMarketCategoryExample" resultType="java.lang.Long">
    select count(*) from standard_sport_market_category
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update standard_sport_market_category
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.sportId != null">
        sport_id = #{record.sportId,jdbcType=BIGINT},
      </if>
      <if test="record.marketCategoryId != null">
        market_category_id = #{record.marketCategoryId,jdbcType=BIGINT},
      </if>
      <if test="record.nameCode != null">
        name_code = #{record.nameCode,jdbcType=BIGINT},
      </if>
      <if test="record.descNameCode != null">
        desc_name_code = #{record.descNameCode,jdbcType=BIGINT},
      </if>
      <if test="record.isCollapse != null">
        is_collapse = #{record.isCollapse,jdbcType=TINYINT},
      </if>
      <if test="record.scopeId != null">
        scope_id = #{record.scopeId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.merchantStatus != null">
        merchant_status = #{record.merchantStatus,jdbcType=TINYINT},
      </if>
      <if test="record.aoStatus != null">
        ao_status = #{record.aoStatus,jdbcType=TINYINT},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=INTEGER},
      </if>
      <if test="record.templateH5 != null">
        template_h5 = #{record.templateH5,jdbcType=TINYINT},
      </if>
      <if test="record.templatePc != null">
        template_pc = #{record.templatePc,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=BIGINT},
      </if>
      <if test="record.templatePcClient != null">
        template_pc_client = #{record.templatePcClient,jdbcType=TINYINT},
      </if>
      <if test="record.templateH5Client != null">
        template_h5_client = #{record.templateH5Client,jdbcType=TINYINT},
      </if>
      <if test="record.detailNameCode != null">
        detail_name_code = #{record.detailNameCode,jdbcType=BIGINT},
      </if>
      <if test="record.merchantApiCodeList != null">
        merchant_api_code_list = #{record.merchantApiCodeList,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update standard_sport_market_category
    set id = #{record.id,jdbcType=BIGINT},
      sport_id = #{record.sportId,jdbcType=BIGINT},
      market_category_id = #{record.marketCategoryId,jdbcType=BIGINT},
      name_code = #{record.nameCode,jdbcType=BIGINT},
      desc_name_code = #{record.descNameCode,jdbcType=BIGINT},
      is_collapse = #{record.isCollapse,jdbcType=TINYINT},
      scope_id = #{record.scopeId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      merchant_status = #{record.merchantStatus,jdbcType=TINYINT},
      ao_status = #{record.aoStatus,jdbcType=TINYINT},
      order_no = #{record.orderNo,jdbcType=INTEGER},
      template_h5 = #{record.templateH5,jdbcType=TINYINT},
      template_pc = #{record.templatePc,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=BIGINT},
      modify_time = #{record.modifyTime,jdbcType=BIGINT},
      template_pc_client = #{record.templatePcClient,jdbcType=TINYINT},
      template_h5_client = #{record.templateH5Client,jdbcType=TINYINT},
      detail_name_code = #{record.detailNameCode,jdbcType=BIGINT},
      merchant_api_code_list = #{record.merchantApiCodeList,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update standard_sport_market_category
    set id = #{record.id,jdbcType=BIGINT},
      sport_id = #{record.sportId,jdbcType=BIGINT},
      market_category_id = #{record.marketCategoryId,jdbcType=BIGINT},
      name_code = #{record.nameCode,jdbcType=BIGINT},
      desc_name_code = #{record.descNameCode,jdbcType=BIGINT},
      is_collapse = #{record.isCollapse,jdbcType=TINYINT},
      scope_id = #{record.scopeId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      merchant_status = #{record.merchantStatus,jdbcType=TINYINT},
      ao_status = #{record.aoStatus,jdbcType=TINYINT},
      order_no = #{record.orderNo,jdbcType=INTEGER},
      template_h5 = #{record.templateH5,jdbcType=TINYINT},
      template_pc = #{record.templatePc,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=BIGINT},
      modify_time = #{record.modifyTime,jdbcType=BIGINT},
      template_pc_client = #{record.templatePcClient,jdbcType=TINYINT},
      template_h5_client = #{record.templateH5Client,jdbcType=TINYINT},
      detail_name_code = #{record.detailNameCode,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.merge.model.StandardSportMarketCategory">
    update standard_sport_market_category
    <set>
      <if test="sportId != null">
        sport_id = #{sportId,jdbcType=BIGINT},
      </if>
      <if test="marketCategoryId != null">
        market_category_id = #{marketCategoryId,jdbcType=BIGINT},
      </if>
      <if test="nameCode != null">
        name_code = #{nameCode,jdbcType=BIGINT},
      </if>
      <if test="descNameCode != null">
        desc_name_code = #{descNameCode,jdbcType=BIGINT},
      </if>
      <if test="isCollapse != null">
        is_collapse = #{isCollapse,jdbcType=TINYINT},
      </if>
      <if test="scopeId != null">
        scope_id = #{scopeId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="merchantStatus != null">
        merchant_status = #{merchantStatus,jdbcType=TINYINT},
      </if>
      <if test="aoStatus != null">
        ao_status = #{aoStatus,jdbcType=TINYINT},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="templateH5 != null">
        template_h5 = #{templateH5,jdbcType=TINYINT},
      </if>
      <if test="templatePc != null">
        template_pc = #{templatePc,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="templatePcClient != null">
        template_pc_client = #{templatePcClient,jdbcType=TINYINT},
      </if>
      <if test="templateH5Client != null">
        template_h5_client = #{templateH5Client,jdbcType=TINYINT},
      </if>
      <if test="detailNameCode != null">
        detail_name_code = #{detailNameCode,jdbcType=BIGINT},
      </if>
      <if test="merchantApiCodeList != null">
        merchant_api_code_list = #{merchantApiCodeList,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.panda.merge.model.StandardSportMarketCategory">
    update standard_sport_market_category
    set sport_id = #{sportId,jdbcType=BIGINT},
      market_category_id = #{marketCategoryId,jdbcType=BIGINT},
      name_code = #{nameCode,jdbcType=BIGINT},
      desc_name_code = #{descNameCode,jdbcType=BIGINT},
      is_collapse = #{isCollapse,jdbcType=TINYINT},
      scope_id = #{scopeId,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      merchant_status = #{merchantStatus,jdbcType=TINYINT},
      ao_status = #{aoStatus,jdbcType=TINYINT},
      order_no = #{orderNo,jdbcType=INTEGER},
      template_h5 = #{templateH5,jdbcType=TINYINT},
      template_pc = #{templatePc,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      template_pc_client = #{templatePcClient,jdbcType=TINYINT},
      template_h5_client = #{templateH5Client,jdbcType=TINYINT},
      detail_name_code = #{detailNameCode,jdbcType=BIGINT},
      merchant_api_code_list = #{merchantApiCodeList,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.merge.model.StandardSportMarketCategory">
    update standard_sport_market_category
    set sport_id = #{sportId,jdbcType=BIGINT},
      market_category_id = #{marketCategoryId,jdbcType=BIGINT},
      name_code = #{nameCode,jdbcType=BIGINT},
      desc_name_code = #{descNameCode,jdbcType=BIGINT},
      is_collapse = #{isCollapse,jdbcType=TINYINT},
      scope_id = #{scopeId,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      merchant_status = #{merchantStatus,jdbcType=TINYINT},
      ao_status = #{aoStatus,jdbcType=TINYINT},
      order_no = #{orderNo,jdbcType=INTEGER},
      template_h5 = #{templateH5,jdbcType=TINYINT},
      template_pc = #{templatePc,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      template_pc_client = #{templatePcClient,jdbcType=TINYINT},
      template_h5_client = #{templateH5Client,jdbcType=TINYINT},
      detail_name_code = #{detailNameCode,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
