<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.merge.mapper.StandardOutrightMarketMapper">
  <resultMap id="BaseResultMap" type="com.panda.merge.model.StandardOutrightMarket">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="standard_match_id" jdbcType="BIGINT" property="standardMatchId" />
    <result column="market_category_id" jdbcType="BIGINT" property="marketCategoryId" />
    <result column="market_sell_status" jdbcType="VARCHAR" property="marketSellStatus" />
    <result column="name_code" jdbcType="BIGINT" property="nameCode" />
    <result column="market_status" jdbcType="TINYINT" property="marketStatus" />
    <result column="order_type" jdbcType="TINYINT" property="orderType" />
    <result column="market_order_number" jdbcType="INTEGER" property="marketOrderNumber" />
    <result column="next_closing_time" jdbcType="BIGINT" property="nextClosingTime" />
    <result column="link_id" jdbcType="VARCHAR" property="linkId" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="modfiy_time" jdbcType="BIGINT" property="modfiyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, standard_match_id, market_category_id, market_sell_status, name_code, market_status,
    order_type, market_order_number, next_closing_time, link_id, create_time, modfiy_time
  </sql>
  <select id="selectByExample" parameterType="com.panda.merge.model.StandardOutrightMarketExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from standard_outright_market
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from standard_outright_market
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from standard_outright_market
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.panda.merge.model.StandardOutrightMarketExample">
    delete from standard_outright_market
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.panda.merge.model.StandardOutrightMarket">
    insert into standard_outright_market (id, standard_match_id, market_category_id, 
      market_sell_status, name_code, market_status, 
      market_order_number, next_closing_time, link_id, 
      create_time, modfiy_time)
    values (#{id,jdbcType=BIGINT}, #{standardMatchId,jdbcType=BIGINT}, #{marketCategoryId,jdbcType=BIGINT}, 
      #{marketSellStatus,jdbcType=VARCHAR}, #{nameCode,jdbcType=BIGINT}, #{marketStatus,jdbcType=TINYINT}, 
      #{marketOrderNumber,jdbcType=INTEGER}, #{nextClosingTime,jdbcType=BIGINT}, #{linkId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=BIGINT}, #{modfiyTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.panda.merge.model.StandardOutrightMarket">
    insert into standard_outright_market
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="standardMatchId != null">
        standard_match_id,
      </if>
      <if test="marketCategoryId != null">
        market_category_id,
      </if>
      <if test="marketSellStatus != null">
        market_sell_status,
      </if>
      <if test="nameCode != null">
        name_code,
      </if>
      <if test="marketStatus != null">
        market_status,
      </if>
      <if test="marketOrderNumber != null">
        market_order_number,
      </if>
      <if test="nextClosingTime != null">
        next_closing_time,
      </if>
      <if test="linkId != null">
        link_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modfiyTime != null">
        modfiy_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="standardMatchId != null">
        #{standardMatchId,jdbcType=BIGINT},
      </if>
      <if test="marketCategoryId != null">
        #{marketCategoryId,jdbcType=BIGINT},
      </if>
      <if test="marketSellStatus != null">
        #{marketSellStatus,jdbcType=VARCHAR},
      </if>
      <if test="nameCode != null">
        #{nameCode,jdbcType=BIGINT},
      </if>
      <if test="marketStatus != null">
        #{marketStatus,jdbcType=TINYINT},
      </if>
      <if test="marketOrderNumber != null">
        #{marketOrderNumber,jdbcType=INTEGER},
      </if>
      <if test="nextClosingTime != null">
        #{nextClosingTime,jdbcType=BIGINT},
      </if>
      <if test="linkId != null">
        #{linkId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modfiyTime != null">
        #{modfiyTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.panda.merge.model.StandardOutrightMarketExample" resultType="java.lang.Long">
    select count(*) from standard_outright_market
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update standard_outright_market
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.standardMatchId != null">
        standard_match_id = #{record.standardMatchId,jdbcType=BIGINT},
      </if>
      <if test="record.marketCategoryId != null">
        market_category_id = #{record.marketCategoryId,jdbcType=BIGINT},
      </if>
      <if test="record.marketSellStatus != null">
        market_sell_status = #{record.marketSellStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.nameCode != null">
        name_code = #{record.nameCode,jdbcType=BIGINT},
      </if>
      <if test="record.marketStatus != null">
        market_status = #{record.marketStatus,jdbcType=TINYINT},
      </if>
      <if test="record.marketOrderNumber != null">
        market_order_number = #{record.marketOrderNumber,jdbcType=INTEGER},
      </if>
      <if test="record.nextClosingTime != null">
        next_closing_time = #{record.nextClosingTime,jdbcType=BIGINT},
      </if>
      <if test="record.linkId != null">
        link_id = #{record.linkId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.modfiyTime != null">
        modfiy_time = #{record.modfiyTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update standard_outright_market
    set id = #{record.id,jdbcType=BIGINT},
      standard_match_id = #{record.standardMatchId,jdbcType=BIGINT},
      market_category_id = #{record.marketCategoryId,jdbcType=BIGINT},
      market_sell_status = #{record.marketSellStatus,jdbcType=VARCHAR},
      name_code = #{record.nameCode,jdbcType=BIGINT},
      market_status = #{record.marketStatus,jdbcType=TINYINT},
      market_order_number = #{record.marketOrderNumber,jdbcType=INTEGER},
      next_closing_time = #{record.nextClosingTime,jdbcType=BIGINT},
      link_id = #{record.linkId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      modfiy_time = #{record.modfiyTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.merge.model.StandardOutrightMarket">
    update standard_outright_market
    <set>
      <if test="standardMatchId != null">
        standard_match_id = #{standardMatchId,jdbcType=BIGINT},
      </if>
      <if test="marketCategoryId != null">
        market_category_id = #{marketCategoryId,jdbcType=BIGINT},
      </if>
      <if test="marketSellStatus != null">
        market_sell_status = #{marketSellStatus,jdbcType=VARCHAR},
      </if>
      <if test="nameCode != null">
        name_code = #{nameCode,jdbcType=BIGINT},
      </if>
      <if test="marketStatus != null">
        market_status = #{marketStatus,jdbcType=TINYINT},
      </if>
      <if test="marketOrderNumber != null">
        market_order_number = #{marketOrderNumber,jdbcType=INTEGER},
      </if>
      <if test="nextClosingTime != null">
        next_closing_time = #{nextClosingTime,jdbcType=BIGINT},
      </if>
      <if test="linkId != null">
        link_id = #{linkId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modfiyTime != null">
        modfiy_time = #{modfiyTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.merge.model.StandardOutrightMarket">
    update standard_outright_market
    set standard_match_id = #{standardMatchId,jdbcType=BIGINT},
      market_category_id = #{marketCategoryId,jdbcType=BIGINT},
      market_sell_status = #{marketSellStatus,jdbcType=VARCHAR},
      name_code = #{nameCode,jdbcType=BIGINT},
      market_status = #{marketStatus,jdbcType=TINYINT},
      market_order_number = #{marketOrderNumber,jdbcType=INTEGER},
      next_closing_time = #{nextClosingTime,jdbcType=BIGINT},
      link_id = #{linkId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      modfiy_time = #{modfiyTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>