<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.merge.mapper.ThirdMatchLineupMapper">
  <resultMap id="BaseResultMap" type="com.panda.merge.model.ThirdMatchLineup">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="third_match_source_id" jdbcType="VARCHAR" property="thirdMatchSourceId" />
    <result column="sport_id" jdbcType="BIGINT" property="sportId" />
    <result column="data_source_code" jdbcType="VARCHAR" property="dataSourceCode" />
    <result column="third_team_source_id" jdbcType="VARCHAR" property="thirdTeamSourceId" />
    <result column="third_player_source_id" jdbcType="VARCHAR" property="thirdPlayerSourceId" />
    <result column="third_player_name" jdbcType="VARCHAR" property="thirdPlayerName" />
    <result column="third_player_pic_url" jdbcType="VARCHAR" property="thirdPlayerPicUrl" />
    <result column="position" jdbcType="INTEGER" property="position" />
    <result column="shirt_number" jdbcType="INTEGER" property="shirtNumber" />
    <result column="substitute" jdbcType="INTEGER" property="substitute" />
    <result column="modify_time" jdbcType="BIGINT" property="modifyTime" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="home_away" jdbcType="INTEGER" property="homeAway" />
    <result column="position_name" jdbcType="VARCHAR" property="positionName" />
    <result column="invalid" jdbcType="INTEGER" property="invalid" />
    <result column="overall_ratings" jdbcType="VARCHAR" property="overallRatings" />
    <result column="third_player_en_name" jdbcType="VARCHAR" property="thirdPlayerEnName" />
    <result column="edit_status" jdbcType="INTEGER" property="editStatus" />
    <result column="home_formation" jdbcType="VARCHAR" property="homeFormation" />
    <result column="away_formation" jdbcType="VARCHAR" property="awayFormation" />
    <result column="play_time" jdbcType="VARCHAR" property="playTime" />
    <result column="assist" jdbcType="VARCHAR" property="assist" />
    <result column="rebound" jdbcType="VARCHAR" property="rebound" />
    <result column="point" jdbcType="VARCHAR" property="point" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, third_match_source_id, sport_id, data_source_code, third_team_source_id, third_player_source_id, 
    third_player_name, third_player_pic_url, position, shirt_number, substitute, modify_time, 
    create_time, home_away, position_name, invalid, overall_ratings, third_player_en_name, 
    edit_status, home_formation, away_formation, play_time, assist, rebound, point
  </sql>
  <select id="selectByExample" parameterType="com.panda.merge.model.ThirdMatchLineupExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from third_match_lineup
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from third_match_lineup
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from third_match_lineup
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.panda.merge.model.ThirdMatchLineupExample">
    delete from third_match_lineup
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.panda.merge.model.ThirdMatchLineup">
    insert into third_match_lineup (id, third_match_source_id, sport_id, 
      data_source_code, third_team_source_id, third_player_source_id, 
      third_player_name, third_player_pic_url, position, 
      shirt_number, substitute, modify_time, 
      create_time, home_away, position_name, 
      invalid, overall_ratings, third_player_en_name, 
      edit_status, home_formation, away_formation, 
      play_time, assist, rebound, 
      point)
    values (#{id,jdbcType=VARCHAR}, #{thirdMatchSourceId,jdbcType=VARCHAR}, #{sportId,jdbcType=BIGINT}, 
      #{dataSourceCode,jdbcType=VARCHAR}, #{thirdTeamSourceId,jdbcType=VARCHAR}, #{thirdPlayerSourceId,jdbcType=VARCHAR}, 
      #{thirdPlayerName,jdbcType=VARCHAR}, #{thirdPlayerPicUrl,jdbcType=VARCHAR}, #{position,jdbcType=INTEGER}, 
      #{shirtNumber,jdbcType=INTEGER}, #{substitute,jdbcType=INTEGER}, #{modifyTime,jdbcType=BIGINT}, 
      #{createTime,jdbcType=BIGINT}, #{homeAway,jdbcType=INTEGER}, #{positionName,jdbcType=VARCHAR}, 
      #{invalid,jdbcType=INTEGER}, #{overallRatings,jdbcType=VARCHAR}, #{thirdPlayerEnName,jdbcType=VARCHAR}, 
      #{editStatus,jdbcType=INTEGER}, #{homeFormation,jdbcType=VARCHAR}, #{awayFormation,jdbcType=VARCHAR}, 
      #{playTime,jdbcType=VARCHAR}, #{assist,jdbcType=VARCHAR}, #{rebound,jdbcType=VARCHAR}, 
      #{point,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.panda.merge.model.ThirdMatchLineup">
    insert into third_match_lineup
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="thirdMatchSourceId != null">
        third_match_source_id,
      </if>
      <if test="sportId != null">
        sport_id,
      </if>
      <if test="dataSourceCode != null">
        data_source_code,
      </if>
      <if test="thirdTeamSourceId != null">
        third_team_source_id,
      </if>
      <if test="thirdPlayerSourceId != null">
        third_player_source_id,
      </if>
      <if test="thirdPlayerName != null">
        third_player_name,
      </if>
      <if test="thirdPlayerPicUrl != null">
        third_player_pic_url,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="shirtNumber != null">
        shirt_number,
      </if>
      <if test="substitute != null">
        substitute,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="homeAway != null">
        home_away,
      </if>
      <if test="positionName != null">
        position_name,
      </if>
      <if test="invalid != null">
        invalid,
      </if>
      <if test="overallRatings != null">
        overall_ratings,
      </if>
      <if test="thirdPlayerEnName != null">
        third_player_en_name,
      </if>
      <if test="editStatus != null">
        edit_status,
      </if>
      <if test="homeFormation != null">
        home_formation,
      </if>
      <if test="awayFormation != null">
        away_formation,
      </if>
      <if test="playTime != null">
        play_time,
      </if>
      <if test="assist != null">
        assist,
      </if>
      <if test="rebound != null">
        rebound,
      </if>
      <if test="point != null">
        point,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="thirdMatchSourceId != null">
        #{thirdMatchSourceId,jdbcType=VARCHAR},
      </if>
      <if test="sportId != null">
        #{sportId,jdbcType=BIGINT},
      </if>
      <if test="dataSourceCode != null">
        #{dataSourceCode,jdbcType=VARCHAR},
      </if>
      <if test="thirdTeamSourceId != null">
        #{thirdTeamSourceId,jdbcType=VARCHAR},
      </if>
      <if test="thirdPlayerSourceId != null">
        #{thirdPlayerSourceId,jdbcType=VARCHAR},
      </if>
      <if test="thirdPlayerName != null">
        #{thirdPlayerName,jdbcType=VARCHAR},
      </if>
      <if test="thirdPlayerPicUrl != null">
        #{thirdPlayerPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=INTEGER},
      </if>
      <if test="shirtNumber != null">
        #{shirtNumber,jdbcType=INTEGER},
      </if>
      <if test="substitute != null">
        #{substitute,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="homeAway != null">
        #{homeAway,jdbcType=INTEGER},
      </if>
      <if test="positionName != null">
        #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="invalid != null">
        #{invalid,jdbcType=INTEGER},
      </if>
      <if test="overallRatings != null">
        #{overallRatings,jdbcType=VARCHAR},
      </if>
      <if test="thirdPlayerEnName != null">
        #{thirdPlayerEnName,jdbcType=VARCHAR},
      </if>
      <if test="editStatus != null">
        #{editStatus,jdbcType=INTEGER},
      </if>
      <if test="homeFormation != null">
        #{homeFormation,jdbcType=VARCHAR},
      </if>
      <if test="awayFormation != null">
        #{awayFormation,jdbcType=VARCHAR},
      </if>
      <if test="playTime != null">
        #{playTime,jdbcType=VARCHAR},
      </if>
      <if test="assist != null">
        #{assist,jdbcType=VARCHAR},
      </if>
      <if test="rebound != null">
        #{rebound,jdbcType=VARCHAR},
      </if>
      <if test="point != null">
        #{point,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.panda.merge.model.ThirdMatchLineupExample" resultType="java.lang.Long">
    select count(*) from third_match_lineup
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update third_match_lineup
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdMatchSourceId != null">
        third_match_source_id = #{record.thirdMatchSourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.sportId != null">
        sport_id = #{record.sportId,jdbcType=BIGINT},
      </if>
      <if test="record.dataSourceCode != null">
        data_source_code = #{record.dataSourceCode,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdTeamSourceId != null">
        third_team_source_id = #{record.thirdTeamSourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdPlayerSourceId != null">
        third_player_source_id = #{record.thirdPlayerSourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdPlayerName != null">
        third_player_name = #{record.thirdPlayerName,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdPlayerPicUrl != null">
        third_player_pic_url = #{record.thirdPlayerPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.position != null">
        position = #{record.position,jdbcType=INTEGER},
      </if>
      <if test="record.shirtNumber != null">
        shirt_number = #{record.shirtNumber,jdbcType=INTEGER},
      </if>
      <if test="record.substitute != null">
        substitute = #{record.substitute,jdbcType=INTEGER},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.homeAway != null">
        home_away = #{record.homeAway,jdbcType=INTEGER},
      </if>
      <if test="record.positionName != null">
        position_name = #{record.positionName,jdbcType=VARCHAR},
      </if>
      <if test="record.invalid != null">
        invalid = #{record.invalid,jdbcType=INTEGER},
      </if>
      <if test="record.overallRatings != null">
        overall_ratings = #{record.overallRatings,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdPlayerEnName != null">
        third_player_en_name = #{record.thirdPlayerEnName,jdbcType=VARCHAR},
      </if>
      <if test="record.editStatus != null">
        edit_status = #{record.editStatus,jdbcType=INTEGER},
      </if>
      <if test="record.homeFormation != null">
        home_formation = #{record.homeFormation,jdbcType=VARCHAR},
      </if>
      <if test="record.awayFormation != null">
        away_formation = #{record.awayFormation,jdbcType=VARCHAR},
      </if>
      <if test="record.playTime != null">
        play_time = #{record.playTime,jdbcType=VARCHAR},
      </if>
      <if test="record.assist != null">
        assist = #{record.assist,jdbcType=VARCHAR},
      </if>
      <if test="record.rebound != null">
        rebound = #{record.rebound,jdbcType=VARCHAR},
      </if>
      <if test="record.point != null">
        point = #{record.point,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update third_match_lineup
    set id = #{record.id,jdbcType=VARCHAR},
      third_match_source_id = #{record.thirdMatchSourceId,jdbcType=VARCHAR},
      sport_id = #{record.sportId,jdbcType=BIGINT},
      data_source_code = #{record.dataSourceCode,jdbcType=VARCHAR},
      third_team_source_id = #{record.thirdTeamSourceId,jdbcType=VARCHAR},
      third_player_source_id = #{record.thirdPlayerSourceId,jdbcType=VARCHAR},
      third_player_name = #{record.thirdPlayerName,jdbcType=VARCHAR},
      third_player_pic_url = #{record.thirdPlayerPicUrl,jdbcType=VARCHAR},
      position = #{record.position,jdbcType=INTEGER},
      shirt_number = #{record.shirtNumber,jdbcType=INTEGER},
      substitute = #{record.substitute,jdbcType=INTEGER},
      modify_time = #{record.modifyTime,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=BIGINT},
      home_away = #{record.homeAway,jdbcType=INTEGER},
      position_name = #{record.positionName,jdbcType=VARCHAR},
      invalid = #{record.invalid,jdbcType=INTEGER},
      overall_ratings = #{record.overallRatings,jdbcType=VARCHAR},
      third_player_en_name = #{record.thirdPlayerEnName,jdbcType=VARCHAR},
      edit_status = #{record.editStatus,jdbcType=INTEGER},
      home_formation = #{record.homeFormation,jdbcType=VARCHAR},
      away_formation = #{record.awayFormation,jdbcType=VARCHAR},
      play_time = #{record.playTime,jdbcType=VARCHAR},
      assist = #{record.assist,jdbcType=VARCHAR},
      rebound = #{record.rebound,jdbcType=VARCHAR},
      point = #{record.point,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.merge.model.ThirdMatchLineup">
    update third_match_lineup
    <set>
      <if test="thirdMatchSourceId != null">
        third_match_source_id = #{thirdMatchSourceId,jdbcType=VARCHAR},
      </if>
      <if test="sportId != null">
        sport_id = #{sportId,jdbcType=BIGINT},
      </if>
      <if test="dataSourceCode != null">
        data_source_code = #{dataSourceCode,jdbcType=VARCHAR},
      </if>
      <if test="thirdTeamSourceId != null">
        third_team_source_id = #{thirdTeamSourceId,jdbcType=VARCHAR},
      </if>
      <if test="thirdPlayerSourceId != null">
        third_player_source_id = #{thirdPlayerSourceId,jdbcType=VARCHAR},
      </if>
      <if test="thirdPlayerName != null">
        third_player_name = #{thirdPlayerName,jdbcType=VARCHAR},
      </if>
      <if test="thirdPlayerPicUrl != null">
        third_player_pic_url = #{thirdPlayerPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=INTEGER},
      </if>
      <if test="shirtNumber != null">
        shirt_number = #{shirtNumber,jdbcType=INTEGER},
      </if>
      <if test="substitute != null">
        substitute = #{substitute,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="homeAway != null">
        home_away = #{homeAway,jdbcType=INTEGER},
      </if>
      <if test="positionName != null">
        position_name = #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="invalid != null">
        invalid = #{invalid,jdbcType=INTEGER},
      </if>
      <if test="overallRatings != null">
        overall_ratings = #{overallRatings,jdbcType=VARCHAR},
      </if>
      <if test="thirdPlayerEnName != null">
        third_player_en_name = #{thirdPlayerEnName,jdbcType=VARCHAR},
      </if>
      <if test="editStatus != null">
        edit_status = #{editStatus,jdbcType=INTEGER},
      </if>
      <if test="homeFormation != null">
        home_formation = #{homeFormation,jdbcType=VARCHAR},
      </if>
      <if test="awayFormation != null">
        away_formation = #{awayFormation,jdbcType=VARCHAR},
      </if>
      <if test="playTime != null">
        play_time = #{playTime,jdbcType=VARCHAR},
      </if>
      <if test="assist != null">
        assist = #{assist,jdbcType=VARCHAR},
      </if>
      <if test="rebound != null">
        rebound = #{rebound,jdbcType=VARCHAR},
      </if>
      <if test="point != null">
        point = #{point,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.merge.model.ThirdMatchLineup">
    update third_match_lineup
    set third_match_source_id = #{thirdMatchSourceId,jdbcType=VARCHAR},
      sport_id = #{sportId,jdbcType=BIGINT},
      data_source_code = #{dataSourceCode,jdbcType=VARCHAR},
      third_team_source_id = #{thirdTeamSourceId,jdbcType=VARCHAR},
      third_player_source_id = #{thirdPlayerSourceId,jdbcType=VARCHAR},
      third_player_name = #{thirdPlayerName,jdbcType=VARCHAR},
      third_player_pic_url = #{thirdPlayerPicUrl,jdbcType=VARCHAR},
      position = #{position,jdbcType=INTEGER},
      shirt_number = #{shirtNumber,jdbcType=INTEGER},
      substitute = #{substitute,jdbcType=INTEGER},
      modify_time = #{modifyTime,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=BIGINT},
      home_away = #{homeAway,jdbcType=INTEGER},
      position_name = #{positionName,jdbcType=VARCHAR},
      invalid = #{invalid,jdbcType=INTEGER},
      overall_ratings = #{overallRatings,jdbcType=VARCHAR},
      third_player_en_name = #{thirdPlayerEnName,jdbcType=VARCHAR},
      edit_status = #{editStatus,jdbcType=INTEGER},
      home_formation = #{homeFormation,jdbcType=VARCHAR},
      away_formation = #{awayFormation,jdbcType=VARCHAR},
      play_time = #{playTime,jdbcType=VARCHAR},
      assist = #{assist,jdbcType=VARCHAR},
      rebound = #{rebound,jdbcType=VARCHAR},
      point = #{point,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>