<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda.merge.mapper.ThirdSportOddsFieldsTemplet2020421DeleteMapper">
  <resultMap id="BaseResultMap" type="com.panda.merge.model.ThirdSportOddsFieldsTemplet2020421Delete">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="market_category_id" jdbcType="BIGINT" property="marketCategoryId" />
    <result column="standard_templet_id" jdbcType="BIGINT" property="standardTempletId" />
    <result column="third_templet_source_id" jdbcType="VARCHAR" property="thirdTempletSourceId" />
    <result column="name_code" jdbcType="BIGINT" property="nameCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="order_no" jdbcType="INTEGER" property="orderNo" />
    <result column="addition1" jdbcType="VARCHAR" property="addition1" />
    <result column="addition2" jdbcType="VARCHAR" property="addition2" />
    <result column="addition3" jdbcType="VARCHAR" property="addition3" />
    <result column="addition4" jdbcType="VARCHAR" property="addition4" />
    <result column="addition5" jdbcType="VARCHAR" property="addition5" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="modify_time" jdbcType="BIGINT" property="modifyTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, market_category_id, standard_templet_id, third_templet_source_id, name_code, 
    name, order_no, addition1, addition2, addition3, addition4, addition5, create_time, 
    modify_time
  </sql>
  <select id="selectByExample" parameterType="com.panda.merge.model.ThirdSportOddsFieldsTemplet2020421DeleteExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from third_sport_odds_fields_templet_2020421_delete
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from third_sport_odds_fields_templet_2020421_delete
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from third_sport_odds_fields_templet_2020421_delete
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.panda.merge.model.ThirdSportOddsFieldsTemplet2020421DeleteExample">
    delete from third_sport_odds_fields_templet_2020421_delete
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.panda.merge.model.ThirdSportOddsFieldsTemplet2020421Delete">
    insert into third_sport_odds_fields_templet_2020421_delete (id, market_category_id, standard_templet_id, 
      third_templet_source_id, name_code, name, 
      order_no, addition1, addition2, 
      addition3, addition4, addition5, 
      create_time, modify_time)
    values (#{id,jdbcType=BIGINT}, #{marketCategoryId,jdbcType=BIGINT}, #{standardTempletId,jdbcType=BIGINT}, 
      #{thirdTempletSourceId,jdbcType=VARCHAR}, #{nameCode,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{orderNo,jdbcType=INTEGER}, #{addition1,jdbcType=VARCHAR}, #{addition2,jdbcType=VARCHAR}, 
      #{addition3,jdbcType=VARCHAR}, #{addition4,jdbcType=VARCHAR}, #{addition5,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=BIGINT}, #{modifyTime,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.panda.merge.model.ThirdSportOddsFieldsTemplet2020421Delete">
    insert into third_sport_odds_fields_templet_2020421_delete
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="marketCategoryId != null">
        market_category_id,
      </if>
      <if test="standardTempletId != null">
        standard_templet_id,
      </if>
      <if test="thirdTempletSourceId != null">
        third_templet_source_id,
      </if>
      <if test="nameCode != null">
        name_code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="addition1 != null">
        addition1,
      </if>
      <if test="addition2 != null">
        addition2,
      </if>
      <if test="addition3 != null">
        addition3,
      </if>
      <if test="addition4 != null">
        addition4,
      </if>
      <if test="addition5 != null">
        addition5,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="marketCategoryId != null">
        #{marketCategoryId,jdbcType=BIGINT},
      </if>
      <if test="standardTempletId != null">
        #{standardTempletId,jdbcType=BIGINT},
      </if>
      <if test="thirdTempletSourceId != null">
        #{thirdTempletSourceId,jdbcType=VARCHAR},
      </if>
      <if test="nameCode != null">
        #{nameCode,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="addition1 != null">
        #{addition1,jdbcType=VARCHAR},
      </if>
      <if test="addition2 != null">
        #{addition2,jdbcType=VARCHAR},
      </if>
      <if test="addition3 != null">
        #{addition3,jdbcType=VARCHAR},
      </if>
      <if test="addition4 != null">
        #{addition4,jdbcType=VARCHAR},
      </if>
      <if test="addition5 != null">
        #{addition5,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.panda.merge.model.ThirdSportOddsFieldsTemplet2020421DeleteExample" resultType="java.lang.Long">
    select count(*) from third_sport_odds_fields_templet_2020421_delete
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update third_sport_odds_fields_templet_2020421_delete
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.marketCategoryId != null">
        market_category_id = #{record.marketCategoryId,jdbcType=BIGINT},
      </if>
      <if test="record.standardTempletId != null">
        standard_templet_id = #{record.standardTempletId,jdbcType=BIGINT},
      </if>
      <if test="record.thirdTempletSourceId != null">
        third_templet_source_id = #{record.thirdTempletSourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.nameCode != null">
        name_code = #{record.nameCode,jdbcType=BIGINT},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=INTEGER},
      </if>
      <if test="record.addition1 != null">
        addition1 = #{record.addition1,jdbcType=VARCHAR},
      </if>
      <if test="record.addition2 != null">
        addition2 = #{record.addition2,jdbcType=VARCHAR},
      </if>
      <if test="record.addition3 != null">
        addition3 = #{record.addition3,jdbcType=VARCHAR},
      </if>
      <if test="record.addition4 != null">
        addition4 = #{record.addition4,jdbcType=VARCHAR},
      </if>
      <if test="record.addition5 != null">
        addition5 = #{record.addition5,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=BIGINT},
      </if>
      <if test="record.modifyTime != null">
        modify_time = #{record.modifyTime,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update third_sport_odds_fields_templet_2020421_delete
    set id = #{record.id,jdbcType=BIGINT},
      market_category_id = #{record.marketCategoryId,jdbcType=BIGINT},
      standard_templet_id = #{record.standardTempletId,jdbcType=BIGINT},
      third_templet_source_id = #{record.thirdTempletSourceId,jdbcType=VARCHAR},
      name_code = #{record.nameCode,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      order_no = #{record.orderNo,jdbcType=INTEGER},
      addition1 = #{record.addition1,jdbcType=VARCHAR},
      addition2 = #{record.addition2,jdbcType=VARCHAR},
      addition3 = #{record.addition3,jdbcType=VARCHAR},
      addition4 = #{record.addition4,jdbcType=VARCHAR},
      addition5 = #{record.addition5,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=BIGINT},
      modify_time = #{record.modifyTime,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.panda.merge.model.ThirdSportOddsFieldsTemplet2020421Delete">
    update third_sport_odds_fields_templet_2020421_delete
    <set>
      <if test="marketCategoryId != null">
        market_category_id = #{marketCategoryId,jdbcType=BIGINT},
      </if>
      <if test="standardTempletId != null">
        standard_templet_id = #{standardTempletId,jdbcType=BIGINT},
      </if>
      <if test="thirdTempletSourceId != null">
        third_templet_source_id = #{thirdTempletSourceId,jdbcType=VARCHAR},
      </if>
      <if test="nameCode != null">
        name_code = #{nameCode,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="addition1 != null">
        addition1 = #{addition1,jdbcType=VARCHAR},
      </if>
      <if test="addition2 != null">
        addition2 = #{addition2,jdbcType=VARCHAR},
      </if>
      <if test="addition3 != null">
        addition3 = #{addition3,jdbcType=VARCHAR},
      </if>
      <if test="addition4 != null">
        addition4 = #{addition4,jdbcType=VARCHAR},
      </if>
      <if test="addition5 != null">
        addition5 = #{addition5,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.panda.merge.model.ThirdSportOddsFieldsTemplet2020421Delete">
    update third_sport_odds_fields_templet_2020421_delete
    set market_category_id = #{marketCategoryId,jdbcType=BIGINT},
      standard_templet_id = #{standardTempletId,jdbcType=BIGINT},
      third_templet_source_id = #{thirdTempletSourceId,jdbcType=VARCHAR},
      name_code = #{nameCode,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=INTEGER},
      addition1 = #{addition1,jdbcType=VARCHAR},
      addition2 = #{addition2,jdbcType=VARCHAR},
      addition3 = #{addition3,jdbcType=VARCHAR},
      addition4 = #{addition4,jdbcType=VARCHAR},
      addition5 = #{addition5,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=BIGINT},
      modify_time = #{modifyTime,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>